<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConvCircleAdd_100x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,872},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ConvCircleAdd_190x248.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,492},{190,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,248}}</string>
                <key>sourceSize</key>
                <string>{190,248}</string>
            </dict>
            <key>ConvCircleSetAdd_254x189.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,516},{254,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,189}}</string>
                <key>sourceSize</key>
                <string>{254,189}</string>
            </dict>
            <key>ConvCircleSetAdd_512x231.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{512,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,231}}</string>
                <key>sourceSize</key>
                <string>{512,231}</string>
            </dict>
            <key>ConvCircleSetAdd_80x80.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,908},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ConvCircleSet_169x169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>ConvCircleSet_196x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,837},{196,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,69}}</string>
                <key>sourceSize</key>
                <string>{196,69}</string>
            </dict>
            <key>ConvEvolutionCircleSetAdd_256x256.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,772},{228,214}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{228,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EvolutionAdd_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,742},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>conv_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{488,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,249}}</string>
                <key>sourceSize</key>
                <string>{488,249}</string>
            </dict>
            <key>conv_bottomShadow_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{627,315}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,156},{627,315}}</string>
                <key>sourceSize</key>
                <string>{629,629}</string>
            </dict>
            <key>conv_rotatingCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,516}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>conv.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66dd718d721d4f76bdeb45a1a43d4c0a:1/1$</string>
            <key>textureFileName</key>
            <string>conv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
