<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buffIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,556},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,541},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>buff_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,531},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>buff_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,529},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>buff_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,557},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>buff_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,479},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>buff_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,443},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>buff_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,560},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>buff_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,38},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>buff_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,560},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>buff_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,554},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>buff_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,557},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>buff_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,500},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>buff_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,500},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>buff_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,155},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>buff_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,263},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>buff_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,407},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>buff_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,371},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>debuffIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,556},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>debuff_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,531},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>debuff_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,155},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>debuff_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,561},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>debuff_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,335},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>debuff_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,299},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>debuff_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,560},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>debuff_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>debuff_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,560},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>debuff_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,555},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>debuff_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,561},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>debuff_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,155},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>debuff_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,155},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>debuff_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,557},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>debuff_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,227},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>debuff_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,148},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>debuff_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,112},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>rebound_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,155},{116,43}}</string>
                <key>offset</key>
                <string>{-23,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,106},{116,43}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>rebound_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{142,149}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,149}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>rebound_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,184},{142,139}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,139}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>rebound_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,500},{128,89}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{128,89}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>rebound_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{160,85}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{160,85}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>rebound_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{108,49}}</string>
                <key>offset</key>
                <string>{33,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,38},{108,49}}</string>
                <key>sourceSize</key>
                <string>{174,149}</string>
            </dict>
            <key>revive_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{143,325}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{143,325}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{153,325}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{153,325}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,327}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,327}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{143,327}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{143,327}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{165,327}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{165,327}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{171,325}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{171,325}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,331},{169,311}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{169,311}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>revive_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,329},{169,305}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{169,305}}</string>
                <key>sourceSize</key>
                <string>{181,327}</string>
            </dict>
            <key>sbdIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,541},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>sbd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,112},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>sbd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,184},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>sbd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,488},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,445},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,402},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,531},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>sbd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,359},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,500},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>sbd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,316},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,273},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sbd_criIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,502},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>sbd_cri_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,504},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>sbd_cri_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,557},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>sbd_cri_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,502},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>sbd_cri_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,502},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>sbd_cri_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,504},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>sbd_cri_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,502},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>sbd_cri_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,504},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>sbd_cri_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,502},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>sbd_cri_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,504},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>sbd_cri_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,502},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buffText.pvr.ccz</string>
            <key>size</key>
            <string>{1021,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169ab8285b7ccfa18139bb3ed625af9f:1/1$</string>
            <key>textureFileName</key>
            <string>buffText.pvr.ccz</string>
        </dict>
    </dict>
</plist>
