<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000114_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{72,144}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,64},{72,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{82,150}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,58},{82,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{88,150}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{88,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,134}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{100,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{66,142}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{66,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{74,152}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,56},{74,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{104,50}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,165},{104,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{98,134}}</string>
                <key>offset</key>
                <string>{-41,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,74},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{74,152}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,56},{74,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{72,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,56},{72,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{72,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,56},{72,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000114_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{74,152}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,56},{74,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000114.pvr.ccz</string>
            <key>size</key>
            <string>{104,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e02cb4d01ca55f1957875ec75ac7361b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000114.pvr.ccz</string>
        </dict>
    </dict>
</plist>
