<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000406_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{110,152}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{110,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{116,150}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,58},{116,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{126,146}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{126,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,136}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,72},{186,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{170,140}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,68},{170,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{168,174}}</string>
                <key>offset</key>
                <string>{44,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,52},{168,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{114,60}}</string>
                <key>offset</key>
                <string>{-34,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,157},{114,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,156},{96,136}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,72},{96,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,178},{74,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,50},{74,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,162},{78,158}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,50},{78,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{78,158}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{78,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000406_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,178},{74,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,48},{74,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000406.pvr.ccz</string>
            <key>size</key>
            <string>{891,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9724b34f6eb166bda91808b4dfa17eb9:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000406.pvr.ccz</string>
        </dict>
    </dict>
</plist>
