<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100052_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,128}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,80},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{76,126}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,82},{76,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{100,120}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,88},{100,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{98,116}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,260},{92,122}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{92,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{90,128}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{90,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,384},{96,56}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,152},{96,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,392},{88,120}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{88,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,130},{88,128}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{88,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,262},{88,128}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,80},{88,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,132},{88,128}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{88,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100052_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{90,128}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{90,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100052.pvr.ccz</string>
            <key>size</key>
            <string>{282,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9202d4b7925e080d65935af149a1b58f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100052.pvr.ccz</string>
        </dict>
    </dict>
</plist>
