<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100064_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,66}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,142},{102,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{102,70}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,138},{102,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,342},{84,72}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,136},{84,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{90,72}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,136},{90,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,416},{88,66}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,142},{88,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{88,66}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,142},{88,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{106,58}}</string>
                <key>offset</key>
                <string>{-14,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,155},{106,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,68}}</string>
                <key>offset</key>
                <string>{-32,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,140},{104,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,134},{102,66}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,142},{102,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{96,64}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,144},{96,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{110,64}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,144},{110,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100064_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,64}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,144},{114,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100064.pvr.ccz</string>
            <key>size</key>
            <string>{178,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f97bfb40d8cb75a06e031cff07ad3004:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100064.pvr.ccz</string>
        </dict>
    </dict>
</plist>
