<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100005_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,658},{174,148}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,64},{174,148}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{108,178}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,36},{108,178}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,834},{158,156}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{158,156}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{196,158}}</string>
                <key>offset</key>
                <string>{37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{196,158}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,158}}</string>
                <key>offset</key>
                <string>{35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,70},{200,158}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,528},{128,144}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{128,144}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>hero_100005_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,182},{116,150}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,92},{116,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100005_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,334},{192,126}}</string>
                <key>offset</key>
                <string>{-32,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{192,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100005_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{170,150}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,63},{170,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100005_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{166,156}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{166,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100005_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{168,156}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{168,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100005_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{174,148}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,65},{174,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100005.pvr.ccz</string>
            <key>size</key>
            <string>{318,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6fdc3f0766e0abe14f5c73e78ab20b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
