<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000436_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{90,136}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,72},{90,136}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{178,208}}</string>
                <key>offset</key>
                <string>{56,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{178,208}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{186,150}}</string>
                <key>offset</key>
                <string>{47,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,58},{186,150}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{208,176}}</string>
                <key>offset</key>
                <string>{42,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,32},{208,176}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{200,170}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,38},{200,170}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,170}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,38},{214,170}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1312},{104,42}}</string>
                <key>offset</key>
                <string>{-17,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,166},{104,42}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{94,146}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{94,146}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_stand _0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1028},{62,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_stand _0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1176},{62,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_stand _0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{62,132}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,76},{62,132}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000436_stand _0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{62,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000436.pvr.ccz</string>
            <key>size</key>
            <string>{182,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12364a7efb74967f39f7a432c4f1ea1f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000436.pvr.ccz</string>
        </dict>
    </dict>
</plist>
