<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000335_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{148,126}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,82},{148,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,172}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{244,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{178,188}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{178,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{202,160}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{202,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{216,146}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,62},{216,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{200,144}}</string>
                <key>offset</key>
                <string>{27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{200,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,114},{128,66}}</string>
                <key>offset</key>
                <string>{-13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,149},{128,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{124,132}}</string>
                <key>offset</key>
                <string>{-65,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,76},{124,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{110,144}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,64},{110,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{114,144}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{114,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{118,144}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{118,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000335_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{116,144}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{116,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000335.pvr.ccz</string>
            <key>size</key>
            <string>{1816,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2437c2f88e47ee3b91e5bc338de0fe2:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000335.pvr.ccz</string>
        </dict>
    </dict>
</plist>
