<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000201_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,106},{98,138}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{98,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{102,136}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,72},{102,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,134},{114,134}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,74},{114,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{126,130}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,78},{126,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{154,140}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,68},{154,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,150}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,58},{160,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,192},{128,42}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,166},{128,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,86},{88,136}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{88,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,106},{84,150}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,58},{84,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{82,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,56},{82,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,158},{84,152}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,56},{84,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000201_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{86,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,58},{86,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000201.pvr.ccz</string>
            <key>size</key>
            <string>{790,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7621b738b0715fe2ab9984d25b2e5749:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000201.pvr.ccz</string>
        </dict>
    </dict>
</plist>
