<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000139_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,130}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{68,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,134},{70,112}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,96},{70,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{92,128}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,80},{92,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,134},{70,114}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,94},{70,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{70,114}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,94},{70,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{64,120}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,88},{64,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,198},{98,38}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,170},{98,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,134},{88,106}}</string>
                <key>offset</key>
                <string>{-31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,102},{88,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,130}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{68,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,130}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,78},{70,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,132},{64,128}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,80},{64,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000139_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000139.pvr.ccz</string>
            <key>size</key>
            <string>{440,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a95267b38c88f1df4fc774771b94309:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000139.pvr.ccz</string>
        </dict>
    </dict>
</plist>
