<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000205_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{108,134}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,574},{116,134}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{116,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{132,132}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{162,132}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{162,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{180,148}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{180,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,150}}</string>
                <key>offset</key>
                <string>{24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,58},{184,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,304},{114,80}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,133},{114,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{124,130}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,78},{124,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{106,134}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,74},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,710},{106,134}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,438},{108,134}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000205_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{106,134}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000205.pvr.ccz</string>
            <key>size</key>
            <string>{252,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5169996dcc88a4668ce7db9301be65a1:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000205.pvr.ccz</string>
        </dict>
    </dict>
</plist>
