<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000415_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{144,130}}</string>
                <key>offset</key>
                <string>{-38,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,78},{144,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{126,144}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,64},{126,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{130,184}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{130,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,154}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{192,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{216,122}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,86},{216,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{126,124}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,84},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{90,130}}</string>
                <key>offset</key>
                <string>{-52,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,96},{90,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{142,116}}</string>
                <key>offset</key>
                <string>{-55,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,92},{142,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{146,130}}</string>
                <key>offset</key>
                <string>{-39,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,78},{146,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{148,132}}</string>
                <key>offset</key>
                <string>{-38,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{148,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{152,132}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{152,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000415_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{144,130}}</string>
                <key>offset</key>
                <string>{-38,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,78},{144,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000415.pvr.ccz</string>
            <key>size</key>
            <string>{158,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7064b7fff8f81d2b6779eb03c469e957:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000415.pvr.ccz</string>
        </dict>
    </dict>
</plist>
