<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000419_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{138,152}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,56},{138,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{152,172}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{152,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{170,146}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{170,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{202,168}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{202,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{220,188}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{220,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,196}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{210,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{126,106}}</string>
                <key>offset</key>
                <string>{-37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,102},{126,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{166,146}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,62},{166,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{152,152}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{152,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{164,152}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{164,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{166,152}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{166,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000419_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{154,152}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{154,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000419.pvr.ccz</string>
            <key>size</key>
            <string>{200,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce2862f1164b0f6e8c97cd6f352912b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000419.pvr.ccz</string>
        </dict>
    </dict>
</plist>
