<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000142_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{68,150}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{68,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,158}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,50},{74,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{70,164}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,44},{70,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{110,56}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,153},{110,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{110,52}}</string>
                <key>offset</key>
                <string>{21,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,157},{110,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{108,56}}</string>
                <key>offset</key>
                <string>{21,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,153},{108,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{84,66}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,142},{84,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{74,118}}</string>
                <key>offset</key>
                <string>{-28,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,90},{74,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{68,150}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{68,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{68,150}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{68,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{68,150}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{68,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000142_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{68,150}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{68,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000142.pvr.ccz</string>
            <key>size</key>
            <string>{78,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508ac117bc0d4e6fad1216f8686d4444:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000142.pvr.ccz</string>
        </dict>
    </dict>
</plist>
