<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000351_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{78,128}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{78,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{100,140}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{108,140}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{108,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{182,120}}</string>
                <key>offset</key>
                <string>{32,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,88},{182,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{160,112}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,96},{160,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{146,116}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,92},{146,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{112,48}}</string>
                <key>offset</key>
                <string>{-36,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,160},{112,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,122}}</string>
                <key>offset</key>
                <string>{-69,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,86},{86,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{74,128}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,80},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{84,128}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{84,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{86,128}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{86,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000351_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{78,128}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{78,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000351.pvr.ccz</string>
            <key>size</key>
            <string>{126,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca0b8c537ca72641daa97aad9c20a1f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000351.pvr.ccz</string>
        </dict>
    </dict>
</plist>
