<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000215_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,118},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{86,124}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,84},{86,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{96,120}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,88},{96,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{126,130}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{126,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,154}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,54},{116,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,134},{118,132}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{118,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,66},{138,50}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,158},{138,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,134},{66,108}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{66,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,188},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000215_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,124},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000215.pvr.ccz</string>
            <key>size</key>
            <string>{550,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93dd78df46e29235a865703b699d928f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000215.pvr.ccz</string>
        </dict>
    </dict>
</plist>
