<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000474_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,142},{104,138}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,70},{104,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,144},{108,138}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{108,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{114,134}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{114,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{172,168}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{172,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{166,186}}</string>
                <key>offset</key>
                <string>{44,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,22},{166,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,188}}</string>
                <key>offset</key>
                <string>{48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,20},{160,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,176},{130,68}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,152},{130,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,144},{108,108}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,100},{108,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,176},{68,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,64},{68,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{78,146}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,62},{78,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{98,146}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{98,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{114,144}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{114,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,150},{100,144}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,64},{100,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{82,146}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,62},{82,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{104,138}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{104,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{104,140}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{104,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,148},{104,140}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{104,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000474_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{106,140}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{106,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000474.pvr.ccz</string>
            <key>size</key>
            <string>{1318,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03364c4de90d84f836c703c1c38a024:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000474.pvr.ccz</string>
        </dict>
    </dict>
</plist>
