<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100008_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{76,128}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{76,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,150},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{70,132}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{70,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{70,134}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{70,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,146}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{200,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,136},{88,110}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{88,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,222},{92,66}}</string>
                <key>offset</key>
                <string>{-27,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,142},{92,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,132},{78,88}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,120},{78,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{74,128}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{74,128}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,138},{76,126}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,82},{76,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100008_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{76,128}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{76,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100008.pvr.ccz</string>
            <key>size</key>
            <string>{505,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aaf13ec226067b4146d18d78b14906a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
