<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000460_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{62,136}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{88,132}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{88,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,140},{106,134}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,74},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{134,162}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,46},{134,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,198}}</string>
                <key>offset</key>
                <string>{51,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,10},{154,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{158,184}}</string>
                <key>offset</key>
                <string>{49,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,24},{158,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{92,46}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,167},{92,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,166},{72,110}}</string>
                <key>offset</key>
                <string>{-23,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,98},{72,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,188},{64,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,72},{64,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000460_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,188},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000460.pvr.ccz</string>
            <key>size</key>
            <string>{736,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df001c44745730c09323f1fc5e91580:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000460.pvr.ccz</string>
        </dict>
    </dict>
</plist>
