<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000408_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,144}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,64},{80,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,440},{92,144}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{92,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{110,144}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,64},{110,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,138}}</string>
                <key>offset</key>
                <string>{39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,70},{162,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{152,148}}</string>
                <key>offset</key>
                <string>{45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,60},{152,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{156,152}}</string>
                <key>offset</key>
                <string>{46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,56},{156,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{130,52}}</string>
                <key>offset</key>
                <string>{-39,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,156},{130,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,638},{118,110}}</string>
                <key>offset</key>
                <string>{-66,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,98},{118,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,586},{78,144}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{78,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,294},{86,144}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{86,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,148},{88,144}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,64},{88,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000408_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{78,144}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,64},{78,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000408.pvr.ccz</string>
            <key>size</key>
            <string>{250,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c2fa9b8ce37cb6e58c35bb5785f94c:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000408.pvr.ccz</string>
        </dict>
    </dict>
</plist>
