<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000342_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,176},{62,76}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,132},{62,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{62,76}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,132},{62,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,176},{66,78}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,130},{66,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{154,122}}</string>
                <key>offset</key>
                <string>{46,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{154,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,172}}</string>
                <key>offset</key>
                <string>{48,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{160,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,108}}</string>
                <key>offset</key>
                <string>{47,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{156,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,112},{74,48}}</string>
                <key>offset</key>
                <string>{-35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,162},{74,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{76,74}}</string>
                <key>offset</key>
                <string>{-63,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,134},{76,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,112},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,190},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,190},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000342_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,126},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000342.pvr.ccz</string>
            <key>size</key>
            <string>{478,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91582609c73faafd5ea551ceb4d964fa:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000342.pvr.ccz</string>
        </dict>
    </dict>
</plist>
