<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000236_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,112},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{68,106}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,102},{68,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{74,100}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,108},{74,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{116,120}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,88},{116,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,132}}</string>
                <key>offset</key>
                <string>{31,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,76},{124,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{126,128}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{126,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,110},{82,44}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,164},{82,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,156},{66,94}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,114},{66,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{62,110}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{62,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,132},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000236_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,136},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000236.pvr.ccz</string>
            <key>size</key>
            <string>{466,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:442906b009cc7ff60850e54979d81d7b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000236.pvr.ccz</string>
        </dict>
    </dict>
</plist>
