<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000349_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,170}}</string>
                <key>offset</key>
                <string>{24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{136,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{138,134}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{138,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{142,134}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{160,140}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{160,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{166,140}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{166,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{162,144}}</string>
                <key>offset</key>
                <string>{47,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,64},{162,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{188,56}}</string>
                <key>offset</key>
                <string>{-32,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,158},{188,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,148},{138,126}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,82},{138,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,138},{118,140}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{118,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,144},{120,140}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,68},{120,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,148},{126,138}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,70},{126,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000349_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,138},{134,140}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,68},{134,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000349.pvr.ccz</string>
            <key>size</key>
            <string>{918,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bada8f76dfbede6b4f0864261800840a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000349.pvr.ccz</string>
        </dict>
    </dict>
</plist>
