<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100002_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{78,104}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,104},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{80,96}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,112},{80,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{92,84}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,124},{92,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,142},{112,100}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,108},{112,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{94,118}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,138}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{68,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,140},{106,62}}</string>
                <key>offset</key>
                <string>{-30,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,146},{106,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{80,136}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{80,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,138}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{68,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,140}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,68},{72,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{68,138}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{68,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100002_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{66,138}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,70},{66,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100002.pvr.ccz</string>
            <key>size</key>
            <string>{522,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c2dea7b93c22e8f59b86a450667d719:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
