<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000471_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,154},{96,202}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,6},{96,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{142,182}}</string>
                <key>offset</key>
                <string>{-40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{142,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{132,186}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{132,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,208}}</string>
                <key>offset</key>
                <string>{39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,38},{170,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{172,140}}</string>
                <key>offset</key>
                <string>{27,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,107},{172,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{132,150}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,89},{132,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{118,86}}</string>
                <key>offset</key>
                <string>{-9,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,158},{118,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,146},{94,118}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,90},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{112,142}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,146},{100,142}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,66},{100,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,146},{84,144}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{84,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{80,142}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{80,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,146},{84,142}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,66},{84,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,146},{96,144}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,64},{96,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{114,142}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{114,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{106,142}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{106,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{116,142}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{116,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000471_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{126,142}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,66},{126,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000471.pvr.ccz</string>
            <key>size</key>
            <string>{1498,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0247782a3e65c4a39757e731f5558bdc:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000471.pvr.ccz</string>
        </dict>
    </dict>
</plist>
