<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000404_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{176,219}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{176,219}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,223},{190,217}}</string>
                <key>offset</key>
                <string>{-39,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{190,217}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{206,183}}</string>
                <key>offset</key>
                <string>{-28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{206,183}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,189}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,30},{278,189}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{226,143}}</string>
                <key>offset</key>
                <string>{37,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,79},{226,143}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,292},{192,147}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{192,147}}</string>
                <key>sourceSize</key>
                <string>{328,267}</string>
            </dict>
            <key>hero_000404_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,210},{204,80}}</string>
                <key>offset</key>
                <string>{-62,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{204,80}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>hero_000404_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{120,150}}</string>
                <key>offset</key>
                <string>{-84,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{120,150}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>hero_000404_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,223},{176,219}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{176,219}}</string>
                <key>sourceSize</key>
                <string>{256,267}</string>
            </dict>
            <key>hero_000404_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,230},{178,219}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{178,219}}</string>
                <key>sourceSize</key>
                <string>{256,267}</string>
            </dict>
            <key>hero_000404_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{176,219}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{176,219}}</string>
                <key>sourceSize</key>
                <string>{256,267}</string>
            </dict>
            <key>hero_000404_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{176,219}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{176,219}}</string>
                <key>sourceSize</key>
                <string>{256,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000404.pvr.ccz</string>
            <key>size</key>
            <string>{1001,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db6016a19b3e9753e689ffbbf87f2c78:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000404.pvr.ccz</string>
        </dict>
    </dict>
</plist>
