<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000241_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{62,116}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{62,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{66,118}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{66,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{96,106}}</string>
                <key>offset</key>
                <string>{14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{96,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{108,112}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,96},{108,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,122}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{104,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,66},{62,50}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,158},{62,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{62,96}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{62,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{62,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{62,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000241_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{62,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{62,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000241.pvr.ccz</string>
            <key>size</key>
            <string>{866,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:853dcd777eea08b0b0dcd5a49eaff345:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000241.pvr.ccz</string>
        </dict>
    </dict>
</plist>
