<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000310_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,88},{106,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,80},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{108,162}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{108,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{94,170}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,38},{94,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,174}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,44},{152,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{146,144}}</string>
                <key>offset</key>
                <string>{39,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,78},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{84,160}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,48},{84,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,148},{68,98}}</string>
                <key>offset</key>
                <string>{-24,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,124},{68,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{108,116}}</string>
                <key>offset</key>
                <string>{-73,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,92},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,98},{106,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,112},{106,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,112},{106,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000310_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,112},{106,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000310.pvr.ccz</string>
            <key>size</key>
            <string>{932,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4b8d5f23ae54fb083691e28ad1a9912:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000310.pvr.ccz</string>
        </dict>
    </dict>
</plist>
