<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100014_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{82,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{82,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,126},{84,120}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,88},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,132},{86,118}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,90},{86,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{82,110}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{90,108}}</string>
                <key>offset</key>
                <string>{14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,132},{72,118}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{72,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,112},{78,58}}</string>
                <key>offset</key>
                <string>{-26,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,150},{78,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,132},{62,110}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,98},{62,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{70,128}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{70,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,130}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,78},{70,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{70,128}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{70,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100014_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{72,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{72,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100014.pvr.ccz</string>
            <key>size</key>
            <string>{468,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a47f71cffcd3b6ed7fa38bedc83f327a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
