<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100061_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,236},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,99},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{118,130}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,78},{118,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{148,118}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,90},{148,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{128,120}}</string>
                <key>offset</key>
                <string>{33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,102},{128,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,116}}</string>
                <key>offset</key>
                <string>{47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,114},{156,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,128},{106,106}}</string>
                <key>offset</key>
                <string>{16,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,110},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,236},{118,80}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{118,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{82,124}}</string>
                <key>offset</key>
                <string>{-36,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{82,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,236},{114,110}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,99},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{122,112}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,99},{122,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,124},{120,110}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,102},{120,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100061_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{106,104}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,104},{106,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100061.pvr.ccz</string>
            <key>size</key>
            <string>{506,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0850c0e06f1ee53f29d26fe89a4e74c0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100061.pvr.ccz</string>
        </dict>
    </dict>
</plist>
