<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100001_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{62,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,68},{62,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,136}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{80,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,130},{78,122}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,86},{78,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{72,112}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,96},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,130},{82,106}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,102},{82,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{64,124}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,84},{64,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,132},{70,62}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,146},{70,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,132},{76,86}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,122},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,68},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,66},{62,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,70},{62,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{62,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,70},{62,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100001_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,66},{62,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,70},{62,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100001.pvr.ccz</string>
            <key>size</key>
            <string>{502,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfcc34135fd75554dd43fca222f9f8a2:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
