<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000301_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{150,144}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{156,150}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{156,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{114,168}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{114,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{144,152}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,56},{144,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{156,170}}</string>
                <key>offset</key>
                <string>{46,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,38},{156,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,190}}</string>
                <key>offset</key>
                <string>{38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,18},{168,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,446},{128,40}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,171},{128,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,148},{82,104}}</string>
                <key>offset</key>
                <string>{-64,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,104},{82,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,300},{98,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{98,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,300},{98,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000301_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,300},{98,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000301.pvr.ccz</string>
            <key>size</key>
            <string>{508,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca452b575538ae03ff6088f5a1976c1b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000301.pvr.ccz</string>
        </dict>
    </dict>
</plist>
