<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000144_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{84,132}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,76},{84,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,138},{88,122}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{92,114}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,94},{92,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,134}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{140,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{136,128}}</string>
                <key>offset</key>
                <string>{29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,80},{136,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{84,134}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{84,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,480},{88,56}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,152},{88,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{108,118}}</string>
                <key>offset</key>
                <string>{-56,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,88},{108,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,480},{64,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,342},{70,134}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,74},{70,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,268},{72,134}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,74},{72,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000144_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,414},{64,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,72},{64,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000144.pvr.ccz</string>
            <key>size</key>
            <string>{248,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0a56086a3f14f51e0cc5d5fe327e4b8:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000144.pvr.ccz</string>
        </dict>
    </dict>
</plist>
