<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000237_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{62,110}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{62,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{72,102}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,106},{72,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{80,100}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{80,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{140,100}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,108},{140,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,100}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,108},{118,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{116,104}}</string>
                <key>offset</key>
                <string>{27,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,104},{116,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{78,44}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,164},{78,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,48},{64,70}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,138},{64,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{62,110}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{62,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000237_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000237.pvr.ccz</string>
            <key>size</key>
            <string>{908,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c27839ea35aaa52d219443357f05519:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000237.pvr.ccz</string>
        </dict>
    </dict>
</plist>
