<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000309_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{136,128}}</string>
                <key>offset</key>
                <string>{-37,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,81},{136,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{88,124}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,84},{88,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{88,142}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,66},{88,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,156}}</string>
                <key>offset</key>
                <string>{47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,52},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,146}}</string>
                <key>offset</key>
                <string>{47,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,81},{158,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,132},{142,120}}</string>
                <key>offset</key>
                <string>{40,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,91},{142,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,162},{174,44}}</string>
                <key>offset</key>
                <string>{-41,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{174,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,138},{132,98}}</string>
                <key>offset</key>
                <string>{-52,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,110},{132,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{136,128}}</string>
                <key>offset</key>
                <string>{-37,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,81},{136,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{136,130}}</string>
                <key>offset</key>
                <string>{-37,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,81},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{132,134}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,81},{132,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000309_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{132,134}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,82},{132,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000309.pvr.ccz</string>
            <key>size</key>
            <string>{988,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9192a0489083a9109490c5f0dc3c5562:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000309.pvr.ccz</string>
        </dict>
    </dict>
</plist>
