<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100017_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{80,122}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,86},{80,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{80,122}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,86},{80,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,126},{70,122}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{70,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{142,116}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,92},{142,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,116}}</string>
                <key>offset</key>
                <string>{33,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{168,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{164,128}}</string>
                <key>offset</key>
                <string>{33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,80},{164,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,146},{88,40}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,168},{88,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,146},{86,96}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,112},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{70,122}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,86},{70,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{74,122}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{74,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{72,122}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{72,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100017_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,126},{72,122}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,86},{72,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100017.pvr.ccz</string>
            <key>size</key>
            <string>{590,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e35496a5851b15ffcdef066f50aa6fa5:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
