<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000318_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,178},{94,148}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,60},{94,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,146},{132,142}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{132,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{178,142}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{178,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{216,174}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{216,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,174}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{226,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{192,180}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{192,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,108},{146,62}}</string>
                <key>offset</key>
                <string>{-9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,159},{146,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{104,146}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,62},{104,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{94,148}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,60},{94,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,184},{94,146}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{94,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,172},{96,146}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{96,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000318_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,184},{94,146}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{94,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000318.pvr.ccz</string>
            <key>size</key>
            <string>{973,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cfb1a8933dc4962c63fea0fd2251730:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000318.pvr.ccz</string>
        </dict>
    </dict>
</plist>
