<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000315_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{122,134}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{122,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,162},{74,200}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,8},{74,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,364},{72,192}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,16},{72,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,168}}</string>
                <key>offset</key>
                <string>{47,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{158,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,828},{158,84}}</string>
                <key>offset</key>
                <string>{47,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,149},{158,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,674},{152,90}}</string>
                <key>offset</key>
                <string>{45,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,142},{152,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,558},{114,74}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,134},{114,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{118,134}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{118,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{122,134}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{122,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{120,136}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{120,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{122,136}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,72},{122,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000315_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{124,136}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,72},{124,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000315.pvr.ccz</string>
            <key>size</key>
            <string>{216,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3abc59c9085daaccce1ce3440071bf0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000315.pvr.ccz</string>
        </dict>
    </dict>
</plist>
