<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000320_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,416},{62,132}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,76},{62,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,550},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,278},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{160,126}}</string>
                <key>offset</key>
                <string>{48,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{160,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,146}}</string>
                <key>offset</key>
                <string>{48,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,83},{160,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{84,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,72},{84,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,44}}</string>
                <key>offset</key>
                <string>{-30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,164},{102,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,416},{74,128}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,140},{72,136}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,278},{72,136}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{72,136}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000320_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{72,136}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000320.pvr.ccz</string>
            <key>size</key>
            <string>{241,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3419b5e60ee88333d656f7df7c72955:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000320.pvr.ccz</string>
        </dict>
    </dict>
</plist>
