<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000242_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,150},{66,140}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{66,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,162},{72,136}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,72},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,70},{116,132}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,76},{116,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,130}}</string>
                <key>offset</key>
                <string>{32,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{168,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{150,158}}</string>
                <key>offset</key>
                <string>{43,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,50},{150,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{138,146}}</string>
                <key>offset</key>
                <string>{38,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,62},{138,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,188},{108,44}}</string>
                <key>offset</key>
                <string>{-11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,164},{108,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,162},{76,118}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{76,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{66,140}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{66,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{66,138}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,70},{66,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{66,138}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{66,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000242_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{66,138}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{66,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000242.pvr.ccz</string>
            <key>size</key>
            <string>{726,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a654d1f03fb23fb92b96b9a678f058:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000242.pvr.ccz</string>
        </dict>
    </dict>
</plist>
