<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000439_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,169},{67,76}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,132},{67,76}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{73,78}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,130},{73,78}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,175},{71,74}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,134},{71,74}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{151,112}}</string>
                <key>offset</key>
                <string>{45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,96},{151,112}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{165,124}}</string>
                <key>offset</key>
                <string>{52,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,84},{165,124}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,144}}</string>
                <key>offset</key>
                <string>{54,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,64},{171,144}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,169},{71,58}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,150},{71,58}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,155},{69,82}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{69,82}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,166},{63,80}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{63,80}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,84},{63,80}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{63,80}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{63,80}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{63,80}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000439_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,155},{63,80}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{63,80}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000439.pvr.ccz</string>
            <key>size</key>
            <string>{488,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd6dd6e51de4e0d3615ccafad0d6fde:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000439.pvr.ccz</string>
        </dict>
    </dict>
</plist>
