<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100030_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{110,138}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,70},{110,138}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{106,130}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,78},{106,130}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,164}}</string>
                <key>offset</key>
                <string>{52,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,62},{168,164}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{168,162}}</string>
                <key>offset</key>
                <string>{51,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,63},{168,162}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,154}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{120,154}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{124,138}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,70},{124,138}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>hero_100030_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{170,98}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,141},{170,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100030_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{130,128}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,98},{130,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100030_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{132,134}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,74},{132,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100030_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{136,134}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{136,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100030_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{136,136}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,72},{136,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100030_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{132,136}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,72},{132,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100030.pvr.ccz</string>
            <key>size</key>
            <string>{168,1654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0099416e2986546b0daf3d9d61e4c49:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100030.pvr.ccz</string>
        </dict>
    </dict>
</plist>
