<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000445_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,133},{107,150}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{107,150}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{129,152}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,56},{129,152}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{195,132}}</string>
                <key>offset</key>
                <string>{56,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,76},{195,132}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{195,114}}</string>
                <key>offset</key>
                <string>{74,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,94},{195,114}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{221,146}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,75},{221,146}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,178}}</string>
                <key>offset</key>
                <string>{86,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,55},{225,178}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{133,50}}</string>
                <key>offset</key>
                <string>{-19,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,159},{133,50}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,150},{93,154}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,54},{93,154}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,133},{111,150}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,58},{111,150}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,136},{109,148}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,60},{109,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{107,146}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,62},{107,146}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000445_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,136},{109,148}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,60},{109,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000445.pvr.ccz</string>
            <key>size</key>
            <string>{1148,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37f8268ceb44ba1913b33a9dade98649:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000445.pvr.ccz</string>
        </dict>
    </dict>
</plist>
