<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100054_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{74,122}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{74,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{82,122}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,86},{82,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{98,120}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,122}}</string>
                <key>offset</key>
                <string>{37,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,86},{176,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{176,120}}</string>
                <key>offset</key>
                <string>{40,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{176,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{148,122}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,86},{148,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{154,52}}</string>
                <key>offset</key>
                <string>{-38,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,165},{154,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{94,102}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{74,122}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{74,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{74,120}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,88},{74,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{76,120}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,88},{76,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100054_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{76,120}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,88},{76,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100054.pvr.ccz</string>
            <key>size</key>
            <string>{1328,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d312290567cae715af8268d10cf8a09:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100054.pvr.ccz</string>
        </dict>
    </dict>
</plist>
