<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000346_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{124,134}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,74},{124,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,148},{90,136}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{90,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,136},{102,134}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,74},{102,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{188,132}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{188,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{190,144}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{190,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,148}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{216,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{128,64}}</string>
                <key>offset</key>
                <string>{-18,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,152},{128,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{126,122}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,86},{126,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{116,134}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,74},{116,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,130},{108,134}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,74},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,136},{104,132}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,76},{104,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000346_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,130},{110,134}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,74},{110,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000346.pvr.ccz</string>
            <key>size</key>
            <string>{998,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a3f6a7c21907a5b4d31b76b8848a3ac:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000346.pvr.ccz</string>
        </dict>
    </dict>
</plist>
