<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000102_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{66,76}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{66,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{68,74}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,134},{68,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{88,66}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,142},{88,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{98,74}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,134},{98,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{106,84}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,124},{106,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,98}}</string>
                <key>offset</key>
                <string>{21,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,113},{130,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{74,52}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,156},{74,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{68,70}}</string>
                <key>offset</key>
                <string>{-48,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,138},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000102_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,78}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{62,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000102.pvr.ccz</string>
            <key>size</key>
            <string>{904,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3219d0018f49eb87cc6e8626e99ba3:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000102.pvr.ccz</string>
        </dict>
    </dict>
</plist>
