<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000422_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1568},{118,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{118,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{122,196}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{122,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{120,182}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{120,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,154}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,54},{196,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{194,142}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,66},{194,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{204,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,70},{204,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,158},{152,56}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,156},{152,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,560},{114,144}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,64},{114,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{124,156}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{124,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,918},{128,158}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{128,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{132,158}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,50},{132,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{138,156}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,52},{138,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{130,156}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{130,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,758},{128,158}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{128,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1078},{116,152}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,56},{116,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1414},{118,152}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,56},{118,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{120,150}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,58},{120,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000422_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{120,152}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000422.pvr.ccz</string>
            <key>size</key>
            <string>{254,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d87ee0094645c7dc678d0d18626cf1ed:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000422.pvr.ccz</string>
        </dict>
    </dict>
</plist>
