<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000229_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,428},{72,128}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{72,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{96,118}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,90},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{82,136}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,72},{82,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,116}}</string>
                <key>offset</key>
                <string>{34,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,92},{142,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{156,118}}</string>
                <key>offset</key>
                <string>{42,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,90},{156,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,140}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{154,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{116,50}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,165},{116,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,502},{78,122}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,86},{78,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,286},{62,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{62,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,282},{62,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{62,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{62,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{62,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000229_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,144},{62,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{62,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000229.pvr.ccz</string>
            <key>size</key>
            <string>{250,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96d0c086af14040c1b60d8a3749e6ae3:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000229.pvr.ccz</string>
        </dict>
    </dict>
</plist>
