<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100063_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{68,118}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,90},{68,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{66,132}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,76},{66,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{94,138}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,70},{94,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{144,106}}</string>
                <key>offset</key>
                <string>{40,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,102},{144,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,120}}</string>
                <key>offset</key>
                <string>{42,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,94},{150,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{72,122}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,86},{72,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1102},{86,52}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,160},{86,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{88,124}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{88,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{74,122}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,86},{74,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{78,124}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,84},{78,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{80,130}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,78},{80,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100063_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{78,126}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{78,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100063.pvr.ccz</string>
            <key>size</key>
            <string>{126,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc4a11046e7304e3a5d3bc3e79be05c:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100063.pvr.ccz</string>
        </dict>
    </dict>
</plist>
