<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000313_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,130},{112,116}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,92},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,128},{114,122}}</string>
                <key>offset</key>
                <string>{-19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{114,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{108,164}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{108,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,51},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{160,126}}</string>
                <key>offset</key>
                <string>{48,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{160,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{162,124}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{162,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{148,50}}</string>
                <key>offset</key>
                <string>{-29,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,158},{148,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,114},{86,100}}</string>
                <key>offset</key>
                <string>{-51,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,108},{86,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,112},{110,124}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,84},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,114},{110,122}}</string>
                <key>offset</key>
                <string>{-22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,86},{110,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,130},{110,124}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,84},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000313_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{110,124}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,84},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000313.pvr.ccz</string>
            <key>size</key>
            <string>{852,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd19804c64cce6c25839b8f6009c699e:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000313.pvr.ccz</string>
        </dict>
    </dict>
</plist>
