<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000130_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,150},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,116},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{72,90}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,118},{72,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,76},{72,88}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,120},{72,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,146},{132,102}}</string>
                <key>offset</key>
                <string>{34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,106},{132,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,126}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,101},{142,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,144}}</string>
                <key>offset</key>
                <string>{42,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,88},{168,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,172},{78,58}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,150},{78,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{78,84}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,124},{78,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,150},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,116},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,116},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,96},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,116},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000130_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{66,92}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,116},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000130.pvr.ccz</string>
            <key>size</key>
            <string>{504,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f57baaa114d074955fce3cdc8c04f0a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000130.pvr.ccz</string>
        </dict>
    </dict>
</plist>
