<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000469_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{162,144}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{162,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{138,156}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{138,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{128,168}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{128,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{208,156}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{208,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,142}}</string>
                <key>offset</key>
                <string>{44,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,66},{168,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{196,152}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,56},{196,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{162,54}}</string>
                <key>offset</key>
                <string>{-23,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,159},{162,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1940},{104,116}}</string>
                <key>offset</key>
                <string>{-36,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,92},{104,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{86,154}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,54},{86,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{78,154}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,54},{78,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{78,154}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{78,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{86,154}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{86,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{76,154}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{76,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{80,154}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,54},{80,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{106,152}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,56},{106,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{102,150}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,58},{102,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{100,148}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,60},{100,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000469_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{102,150}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,58},{102,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000469.pvr.ccz</string>
            <key>size</key>
            <string>{172,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278cdfad95484c1c94a1427629d384c0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000469.pvr.ccz</string>
        </dict>
    </dict>
</plist>
