<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000327_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,48},{154,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{156,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,48},{156,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{146,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{146,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,170},{172,150}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{172,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{168,154}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{168,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,160}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{166,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,322},{208,108}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,128},{208,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{150,152}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,56},{150,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,310},{134,168}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,40},{134,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,308},{122,170}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,38},{122,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,266},{104,170}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{104,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,156},{108,168}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,40},{108,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{104,170}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,38},{104,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,314},{124,170}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,38},{124,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,164},{148,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,48},{148,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,162},{146,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,50},{146,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,162},{144,156}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,52},{144,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000327_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{146,158}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{146,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000327.pvr.ccz</string>
            <key>size</key>
            <string>{1004,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c5d90ca4eb72f35c21615afebf9f098:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000327.pvr.ccz</string>
        </dict>
    </dict>
</plist>
