<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000112_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{114,136}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{114,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,702},{90,132}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{90,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{138,126}}</string>
                <key>offset</key>
                <string>{-24,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,82},{138,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,130}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{210,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{164,130}}</string>
                <key>offset</key>
                <string>{35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{164,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{132,132}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,134},{158,66}}</string>
                <key>offset</key>
                <string>{-11,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,157},{158,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{122,118}}</string>
                <key>offset</key>
                <string>{-24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,90},{122,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{114,136}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{114,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,566},{108,134}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{104,134}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{104,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000112_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,430},{108,134}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000112.pvr.ccz</string>
            <key>size</key>
            <string>{250,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b68307e8e0c586c264344810fb72d85:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
