<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100009_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{84,120}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{90,116}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{112,116}}</string>
                <key>offset</key>
                <string>{25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{134,144}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,64},{134,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,152}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,56},{144,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,120},{84,116}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,92},{84,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{110,40}}</string>
                <key>offset</key>
                <string>{-16,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,168},{110,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,156},{90,102}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,106},{90,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,148},{84,120}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,88},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,122},{84,118}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,90},{84,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{84,118}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,90},{84,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100009_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,124},{84,118}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,90},{84,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100009.pvr.ccz</string>
            <key>size</key>
            <string>{612,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f6adfb2eb9764ea1abb2499053c887:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
