<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000441_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{207,142}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{207,142}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{183,138}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{183,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{291,132}}</string>
                <key>offset</key>
                <string>{36,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{291,132}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{287,132}}</string>
                <key>offset</key>
                <string>{45,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,85},{287,132}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{243,138}}</string>
                <key>offset</key>
                <string>{77,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,84},{243,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{241,146}}</string>
                <key>offset</key>
                <string>{76,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,75},{241,146}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{197,64}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,144},{197,64}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,142}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,66},{283,142}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1301},{201,140}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{201,140}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1583},{201,138}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,70},{201,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{199,138}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,70},{199,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000441_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{201,138}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,70},{201,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000441.pvr.ccz</string>
            <key>size</key>
            <string>{247,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a72787ec5f2720ed23287b001c3c19e:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000441.pvr.ccz</string>
        </dict>
    </dict>
</plist>
