<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100056_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,410},{122,138}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,70},{122,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{112,152}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{112,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{146,116}}</string>
                <key>offset</key>
                <string>{31,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,92},{146,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,150},{108,110}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,98},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,278},{132,146}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,93},{132,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{182,136}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{182,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,426},{152,88}}</string>
                <key>offset</key>
                <string>{-34,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,155},{152,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,278},{168,130}}</string>
                <key>offset</key>
                <string>{-36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,78},{168,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,136}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,72},{180,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{178,136}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,72},{178,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{178,136}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,72},{178,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100056_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,136}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{182,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100056.pvr.ccz</string>
            <key>size</key>
            <string>{486,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a599d852d7806938939d87024f2fb19:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100056.pvr.ccz</string>
        </dict>
    </dict>
</plist>
