<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000119_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,136},{94,132}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{94,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{128,124}}</string>
                <key>offset</key>
                <string>{29,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{128,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,270},{96,140}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,68},{96,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{238,122}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{238,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{244,122}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{244,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,124}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{250,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{118,58}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,156},{118,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,806},{74,98}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,119},{74,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{94,132}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{94,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,544},{96,130}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,84},{96,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,676},{96,128}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{96,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000119_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,412},{96,130}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,84},{96,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000119.pvr.ccz</string>
            <key>size</key>
            <string>{224,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:186dfd6789e0c8c1771abeac2d3b0d5a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000119.pvr.ccz</string>
        </dict>
    </dict>
</plist>
