<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000340_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,342},{104,152}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,56},{104,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,342},{86,154}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,54},{86,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{86,166}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{86,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{174,154}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,54},{174,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,166}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,42},{180,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,170}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,38},{192,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,314},{100,80}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,128},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,314},{104,114}}</string>
                <key>offset</key>
                <string>{-44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,94},{104,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{110,152}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{110,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,158},{108,154}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{108,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{108,154}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{108,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000340_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,158},{106,154}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{106,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000340.pvr.ccz</string>
            <key>size</key>
            <string>{496,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20dc03f2e2ed69b98e23e36fd313c417:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000340.pvr.ccz</string>
        </dict>
    </dict>
</plist>
