<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000446_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{167,184}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,24},{167,184}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{171,184}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{171,184}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,192}}</string>
                <key>offset</key>
                <string>{35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{231,192}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{179,134}}</string>
                <key>offset</key>
                <string>{61,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,122},{179,134}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{187,174}}</string>
                <key>offset</key>
                <string>{63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,82},{187,174}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{187,192}}</string>
                <key>offset</key>
                <string>{63,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,62},{187,192}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{173,120}}</string>
                <key>offset</key>
                <string>{-29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,112},{173,120}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{125,110}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,102},{125,110}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{99,172}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,36},{99,172}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{97,170}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,38},{97,170}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,2},{101,168}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,40},{101,168}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>hero_000446_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{101,170}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,38},{101,170}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000446.pvr.ccz</string>
            <key>size</key>
            <string>{1718,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb5aa00b22675775cf2f5f92e816a20a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000446.pvr.ccz</string>
        </dict>
    </dict>
</plist>
