<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100057_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,230},{88,140}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,68},{88,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{70,180}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,28},{70,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,166}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{116,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{142,134}}</string>
                <key>offset</key>
                <string>{39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{138,132}}</string>
                <key>offset</key>
                <string>{38,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,76},{138,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{116,136}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{116,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{90,84}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{90,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{128,136}}</string>
                <key>offset</key>
                <string>{-49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,72},{128,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,88},{88,140}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,68},{88,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,232},{90,142}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,66},{90,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,280},{92,142}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,66},{92,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100057_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,140},{90,142}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,66},{90,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100057.pvr.ccz</string>
            <key>size</key>
            <string>{510,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0edbe387b95a42fe4156cb81e5179da:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100057.pvr.ccz</string>
        </dict>
    </dict>
</plist>
