<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000430_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{74,116}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{74,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{96,116}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,120},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{216,166}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{216,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,168}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{226,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{102,142}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{102,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,172},{70,108}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,100},{70,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,78},{98,114}}</string>
                <key>offset</key>
                <string>{-39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,94},{98,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,178},{64,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{64,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,170},{64,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{64,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,170},{64,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{64,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000430_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{64,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,74},{64,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000430.pvr.ccz</string>
            <key>size</key>
            <string>{768,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f6a6924b6d40d254e738ec1f878f906:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000430.pvr.ccz</string>
        </dict>
    </dict>
</plist>
