<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000449_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{111,122}}</string>
                <key>offset</key>
                <string>{-29,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,88},{111,122}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,2},{123,134}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,74},{123,134}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{119,134}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,74},{119,134}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,2},{181,128}}</string>
                <key>offset</key>
                <string>{46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,80},{181,128}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{191,138}}</string>
                <key>offset</key>
                <string>{51,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,79},{191,138}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,154}}</string>
                <key>offset</key>
                <string>{63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,54},{241,154}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{181,68}}</string>
                <key>offset</key>
                <string>{-48,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,140},{181,68}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{153,162}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,46},{153,162}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{141,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,50},{141,158}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{139,156}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,52},{139,156}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{135,154}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,54},{135,154}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
            <key>hero_000449_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{137,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,52},{137,156}}</string>
                <key>sourceSize</key>
                <string>{425,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000449.pvr.ccz</string>
            <key>size</key>
            <string>{1940,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f95894c4e71419325fe2246acca9b7:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000449.pvr.ccz</string>
        </dict>
    </dict>
</plist>
