<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100028_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{92,220}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,2},{92,220}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{136,166}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{136,166}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{188,152}}</string>
                <key>offset</key>
                <string>{42,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,93},{188,152}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,168}}</string>
                <key>offset</key>
                <string>{51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,79},{182,168}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{114,126}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,104},{114,126}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{138,150}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,89},{138,150}}</string>
                <key>sourceSize</key>
                <string>{284,270}</string>
            </dict>
            <key>hero_100028_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,96},{104,54}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,154},{104,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100028_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{130,138}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,70},{130,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100028_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{136,146}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,74},{136,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100028_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{138,150}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,73},{138,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100028_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{140,148}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,74},{140,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100028_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{138,144}}</string>
                <key>offset</key>
                <string>{-27,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,73},{138,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100028.pvr.ccz</string>
            <key>size</key>
            <string>{1684,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dd8ce825901077fa088c26e2b9c957:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100028.pvr.ccz</string>
        </dict>
    </dict>
</plist>
