<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000424_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,330},{98,132}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{98,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,618},{100,126}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{100,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,492},{126,124}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,84},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{160,126}}</string>
                <key>offset</key>
                <string>{48,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,82},{160,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{160,146}}</string>
                <key>offset</key>
                <string>{48,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{160,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,144}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,64},{164,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,746},{126,56}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,164},{126,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{86,118}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{86,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,144},{96,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{96,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{98,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,74},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{94,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{94,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000424_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{96,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{96,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000424.pvr.ccz</string>
            <key>size</key>
            <string>{250,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977199257d627ad00b41395a9a275ec2:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000424.pvr.ccz</string>
        </dict>
    </dict>
</plist>
