<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000338_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{136,134}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{136,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{150,134}}</string>
                <key>offset</key>
                <string>{44,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{150,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{138,140}}</string>
                <key>offset</key>
                <string>{37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{138,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,138}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,70},{150,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{138,144}}</string>
                <key>offset</key>
                <string>{38,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,64},{138,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,694},{114,52}}</string>
                <key>offset</key>
                <string>{-39,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,156},{114,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,130}}</string>
                <key>offset</key>
                <string>{-58,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,78},{70,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,542},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,406},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,270},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000338_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,134},{62,134}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{62,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000338.pvr.ccz</string>
            <key>size</key>
            <string>{254,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6c6869ab28d55e4fc72fd882b1e695:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000338.pvr.ccz</string>
        </dict>
    </dict>
</plist>
