<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100043_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,148},{84,72}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,136},{84,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,372},{82,70}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,138},{82,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,300},{92,70}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,138},{92,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{150,98}}</string>
                <key>offset</key>
                <string>{44,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,110},{150,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{156,100}}</string>
                <key>offset</key>
                <string>{46,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,108},{156,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,106}}</string>
                <key>offset</key>
                <string>{46,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,102},{156,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{98,54}}</string>
                <key>offset</key>
                <string>{-15,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,156},{98,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,222},{76,92}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,116},{76,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,74},{84,72}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,136},{84,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{86,70}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,138},{86,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,372},{80,72}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,136},{80,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100043_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{80,74}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,134},{80,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100043.pvr.ccz</string>
            <key>size</key>
            <string>{250,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b6482baa8fee5cc201f901a588dcb0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100043.pvr.ccz</string>
        </dict>
    </dict>
</plist>
