<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000132_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{72,148}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,60},{72,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,112},{76,146}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{76,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,542},{94,142}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,66},{94,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{142,136}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{142,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{144,136}}</string>
                <key>offset</key>
                <string>{40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{144,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,142}}</string>
                <key>offset</key>
                <string>{35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{156,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,410},{130,56}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,155},{130,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{82,108}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,100},{82,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{72,148}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,60},{72,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,260},{70,148}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,60},{70,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{68,148}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,60},{68,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000132_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{68,148}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,60},{68,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000132.pvr.ccz</string>
            <key>size</key>
            <string>{244,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16327202416f9ce1e1390875ad0dc43a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000132.pvr.ccz</string>
        </dict>
    </dict>
</plist>
