<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000350_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,366},{94,128}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,80},{94,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{90,124}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,84},{90,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,626},{88,120}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,88},{88,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,114}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,94},{166,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{160,116}}</string>
                <key>offset</key>
                <string>{48,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{160,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{154,118}}</string>
                <key>offset</key>
                <string>{46,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{154,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,108},{110,50}}</string>
                <key>offset</key>
                <string>{-9,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,165},{110,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{72,104}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,104},{72,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{94,128}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,80},{94,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,496},{92,128}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,80},{92,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{90,128}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{90,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000350_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{92,128}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,80},{92,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000350.pvr.ccz</string>
            <key>size</key>
            <string>{250,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba5563c109416bb445212e54debbfa6e:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000350.pvr.ccz</string>
        </dict>
    </dict>
</plist>
