<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100020_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{76,110}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,98},{76,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{88,110}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,98},{88,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{78,114}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,94},{78,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{112,116}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{76,118}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,90},{76,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{62,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{108,38}}</string>
                <key>offset</key>
                <string>{-29,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,170},{108,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{106,100}}</string>
                <key>offset</key>
                <string>{-50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,108},{106,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{64,120}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,88},{64,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{70,118}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,90},{70,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,120}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,88},{70,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100020_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{66,120}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,88},{66,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100020.pvr.ccz</string>
            <key>size</key>
            <string>{926,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690c99acecd62f022f503257bb65dfd9:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
