<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000140_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,142},{98,142}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{98,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{86,144}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{86,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,150}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,58},{102,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{144,132}}</string>
                <key>offset</key>
                <string>{32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{144,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{146,146}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{146,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{110,136}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{110,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{124,56}}</string>
                <key>offset</key>
                <string>{-12,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,152},{124,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{122,130}}</string>
                <key>offset</key>
                <string>{-48,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,78},{122,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,286},{96,142}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,66},{96,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{94,138}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,70},{94,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,568},{94,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{94,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000140_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,430},{94,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{94,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000140.pvr.ccz</string>
            <key>size</key>
            <string>{250,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8550e5daa813c120151aa9832314e3bd:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000140.pvr.ccz</string>
        </dict>
    </dict>
</plist>
