<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100027_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{112,172}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,36},{112,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{104,174}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{104,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{156,116}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,92},{156,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{134,110}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,98},{134,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,118}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{134,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{108,136}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{108,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{112,98}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,125},{112,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{100,138}}</string>
                <key>offset</key>
                <string>{-31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{100,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{96,136}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{96,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{100,138}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{100,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{102,136}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{102,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100027_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{100,134}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{100,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100027.pvr.ccz</string>
            <key>size</key>
            <string>{122,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87fedba5179c3af892dbd0c2c57f4fa2:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100027.pvr.ccz</string>
        </dict>
    </dict>
</plist>
