<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100039_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,86},{62,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{68,106}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{68,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,134},{94,104}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{64,110}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{64,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,132},{64,120}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,88},{64,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{62,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,132},{102,40}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,168},{102,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,174},{76,100}}</string>
                <key>offset</key>
                <string>{-25,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,108},{76,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,128}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{62,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100039_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{62,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100039.pvr.ccz</string>
            <key>size</key>
            <string>{404,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c0c165b5dc3419f722ede8a167d6f63:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100039.pvr.ccz</string>
        </dict>
    </dict>
</plist>
