<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000334_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,502},{76,134}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,74},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{82,128}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{82,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{88,126}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{88,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{104,126}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,82},{104,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{160,122}}</string>
                <key>offset</key>
                <string>{48,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{160,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,126}}</string>
                <key>offset</key>
                <string>{48,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,82},{160,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,580},{104,40}}</string>
                <key>offset</key>
                <string>{-16,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,168},{104,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{100,108}}</string>
                <key>offset</key>
                <string>{-55,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,100},{100,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,424},{76,134}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,74},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,346},{76,134}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,268},{76,134}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000334_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,132},{76,134}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000334.pvr.ccz</string>
            <key>size</key>
            <string>{248,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c93d38e878b090fba8153655d4d5eac:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000334.pvr.ccz</string>
        </dict>
    </dict>
</plist>
