<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000466_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{85,168}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,40},{85,168}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{89,182}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,26},{89,182}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{209,128}}</string>
                <key>offset</key>
                <string>{73,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,83},{209,128}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{217,122}}</string>
                <key>offset</key>
                <string>{78,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,92},{217,122}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,136}}</string>
                <key>offset</key>
                <string>{76,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,72},{231,136}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{223,144}}</string>
                <key>offset</key>
                <string>{74,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,64},{223,144}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,186},{125,54}}</string>
                <key>offset</key>
                <string>{-27,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,158},{125,54}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{91,138}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,70},{91,138}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,152},{81,148}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,60},{81,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{83,148}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,60},{83,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,152},{87,148}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,60},{87,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
            <key>hero_000466_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{87,148}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,60},{87,148}}</string>
                <key>sourceSize</key>
                <string>{397,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000466.pvr.ccz</string>
            <key>size</key>
            <string>{1018,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4fb6c8a750a2ca0e2ea97b8300b74e:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000466.pvr.ccz</string>
        </dict>
    </dict>
</plist>
