<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000412_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{98,144}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{98,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{110,166}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{110,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{114,154}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,54},{114,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{168,158}}</string>
                <key>offset</key>
                <string>{42,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,56},{168,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,196}}</string>
                <key>offset</key>
                <string>{41,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,26},{172,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,200}}</string>
                <key>offset</key>
                <string>{41,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,8},{174,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{128,64}}</string>
                <key>offset</key>
                <string>{-40,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,144},{128,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,158},{88,120}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,88},{88,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,164},{78,158}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,50},{78,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{76,158}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{76,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,170},{76,158}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,50},{76,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000412_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{78,160}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,48},{78,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000412.pvr.ccz</string>
            <key>size</key>
            <string>{998,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88a6b37afa0d3b071e0217f127ace45d:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000412.pvr.ccz</string>
        </dict>
    </dict>
</plist>
