<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000224_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,136},{84,144}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,64},{84,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,112},{70,148}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,60},{70,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,108},{76,142}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,66},{76,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{184,134}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,74},{184,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{180,132}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{180,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,134}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{186,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,184},{116,46}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,162},{116,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{100,108}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,100},{100,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{106,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{106,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{104,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,72},{104,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,138},{98,136}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{98,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000224_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,138},{100,136}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{100,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000224.pvr.ccz</string>
            <key>size</key>
            <string>{799,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0baa71239c6c7aab1345d6ecfebde15a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000224.pvr.ccz</string>
        </dict>
    </dict>
</plist>
