<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000440_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,828},{63,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,74},{63,134}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{137,134}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,74},{137,134}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{145,128}}</string>
                <key>offset</key>
                <string>{47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,80},{145,128}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{155,138}}</string>
                <key>offset</key>
                <string>{45,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,70},{155,138}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{151,138}}</string>
                <key>offset</key>
                <string>{47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,70},{151,138}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,140}}</string>
                <key>offset</key>
                <string>{47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,73},{157,140}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,554},{101,42}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,166},{101,42}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,828},{63,132}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,76},{63,132}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,690},{63,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,72},{63,136}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,690},{63,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,72},{63,136}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{63,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,74},{63,134}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
            <key>hero_000440_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{63,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,72},{63,136}}</string>
                <key>sourceSize</key>
                <string>{283,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000440.pvr.ccz</string>
            <key>size</key>
            <string>{197,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bceb8afc9da33ab70c0b1d9bba97559:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000440.pvr.ccz</string>
        </dict>
    </dict>
</plist>
