<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000418_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{116,150}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,58},{116,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{116,144}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,64},{116,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{124,140}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,68},{124,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{162,210}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{162,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,214}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{180,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{166,206}}</string>
                <key>offset</key>
                <string>{31,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,2},{166,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,148},{140,82}}</string>
                <key>offset</key>
                <string>{-47,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,154},{140,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,128},{100,140}}</string>
                <key>offset</key>
                <string>{-61,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,68},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,158},{86,154}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,54},{86,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{88,154}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{88,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{88,154}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{88,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000418_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,158},{84,154}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{84,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000418.pvr.ccz</string>
            <key>size</key>
            <string>{1112,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38ee8b56ae7344fda05a4266e265d966:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000418.pvr.ccz</string>
        </dict>
    </dict>
</plist>
