<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100045_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{70,66}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,142},{70,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{70,56}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,152},{70,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{62,68}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,140},{62,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{124,74}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,134},{124,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{144,70}}</string>
                <key>offset</key>
                <string>{40,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,138},{144,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{158,54}}</string>
                <key>offset</key>
                <string>{44,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,154},{158,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,48}}</string>
                <key>offset</key>
                <string>{-14,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,160},{90,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{86,60}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,148},{86,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{72,66}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,142},{72,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{68,66}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,142},{68,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{68,62}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,146},{68,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100045_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{72,60}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,148},{72,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100045.pvr.ccz</string>
            <key>size</key>
            <string>{94,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b00e473a16890805b289ea85a1efcf9c:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
