<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000413_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,110},{64,136}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,72},{64,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{106,132}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{106,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{126,156}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{126,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{192,122}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{192,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{190,118}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{190,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,142}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,66},{174,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,130},{102,52}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,156},{102,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,66},{78,108}}</string>
                <key>offset</key>
                <string>{-21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,100},{78,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,122},{66,136}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,72},{66,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,126},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000413_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000413.pvr.ccz</string>
            <key>size</key>
            <string>{962,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd1d37ccb1401ec6a6e32619052ff41:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000413.pvr.ccz</string>
        </dict>
    </dict>
</plist>
