<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000345_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,126},{140,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{140,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{136,130}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,78},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,140},{106,146}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{106,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{180,136}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{180,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{204,140}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,68},{204,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,158}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{198,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,184},{110,52}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,165},{110,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,126},{82,120}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,88},{82,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{140,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{140,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{134,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,86},{134,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{128,122}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,86},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000345_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,126},{130,122}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,86},{130,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000345.pvr.ccz</string>
            <key>size</key>
            <string>{982,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7cffd09c7251b72a08729eb52da990:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000345.pvr.ccz</string>
        </dict>
    </dict>
</plist>
