<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100034_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,118}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{74,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{68,94}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,114},{68,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,72},{70,96}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,112},{70,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{72,108}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{72,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{64,118}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,90},{64,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,144},{114,44}}</string>
                <key>offset</key>
                <string>{-19,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,164},{114,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{80,106}}</string>
                <key>offset</key>
                <string>{-25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,102},{80,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{62,116}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{62,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,132},{62,114}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,94},{62,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,68},{62,116}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{62,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100034_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,66},{62,118}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,90},{62,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100034.pvr.ccz</string>
            <key>size</key>
            <string>{498,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eafa0cde8c665e7a639d14cd8fd876a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100034.pvr.ccz</string>
        </dict>
    </dict>
</plist>
