<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100013_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{62,108}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,100},{62,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,126}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,82},{72,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{92,96}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,112},{92,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{96,92}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,116},{96,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{82,104}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{82,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{62,116}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{62,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{108,46}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,162},{108,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{68,106}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,102},{68,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{62,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100013_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{62,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100013.pvr.ccz</string>
            <key>size</key>
            <string>{856,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c61d6180b081cf0305eab8fe1960726:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
