<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000332_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,616},{88,124}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{88,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{94,120}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{94,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{104,126}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,82},{104,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{158,130}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{158,128}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,88},{158,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,138}}</string>
                <key>offset</key>
                <string>{39,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{166,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{134,56}}</string>
                <key>offset</key>
                <string>{-27,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,152},{134,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,526},{88,128}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,80},{88,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,400},{86,124}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,84},{86,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,272},{86,126}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{86,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,142},{86,128}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,80},{86,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000332_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{84,126}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,82},{84,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000332.pvr.ccz</string>
            <key>size</key>
            <string>{250,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81cf479ada922d35ac4cb034a1dbe6a3:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000332.pvr.ccz</string>
        </dict>
    </dict>
</plist>
