<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000443_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,196},{134,156}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{134,156}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{138,188}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,20},{138,188}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{192,190}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,18},{192,190}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{220,168}}</string>
                <key>offset</key>
                <string>{32,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,40},{220,168}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,118}}</string>
                <key>offset</key>
                <string>{37,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,90},{232,118}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,142},{178,132}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{178,132}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,436},{112,66}}</string>
                <key>offset</key>
                <string>{-22,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,164},{112,66}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,340},{94,118}}</string>
                <key>offset</key>
                <string>{-20,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,90},{94,118}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,276},{62,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{62,144}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,354},{62,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,64},{62,144}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,354},{62,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,64},{62,144}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>hero_000443_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,354},{62,144}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,64},{62,144}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000443.pvr.ccz</string>
            <key>size</key>
            <string>{510,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:655418962f9e3b558893613008854984:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000443.pvr.ccz</string>
        </dict>
    </dict>
</plist>
