<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100029_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{126,138}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,70},{126,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,116},{118,130}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,78},{118,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{152,124}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{152,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,128}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,80},{148,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,116},{144,130}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{144,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{116,138}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{116,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,54}}</string>
                <key>offset</key>
                <string>{-19,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,154},{148,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,118},{138,128}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,130},{112,136}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{112,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{112,136}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,72},{112,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{112,136}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,72},{112,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100029_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{114,138}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,70},{114,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100029.pvr.ccz</string>
            <key>size</key>
            <string>{842,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f9270b5b4b6befd236c99cd2ef8c57b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100029.pvr.ccz</string>
        </dict>
    </dict>
</plist>
