<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100068_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{142,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,50},{142,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,162}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{158,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{136,166}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,42},{136,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,304},{112,154}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,54},{112,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,418},{114,148}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{114,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,426},{106,152}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,56},{106,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{144,86}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,127},{144,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{132,148}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,60},{132,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,140},{142,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,50},{142,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{142,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{142,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,162},{140,160}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,48},{140,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100068_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,284},{140,158}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,50},{140,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100068.pvr.ccz</string>
            <key>size</key>
            <string>{490,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8ae53fd9d3550afdbec818dfe6ee57e:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100068.pvr.ccz</string>
        </dict>
    </dict>
</plist>
