<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000409_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{110,144}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{110,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{130,144}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,64},{130,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{118,142}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,66},{118,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{176,130}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{176,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{174,132}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{174,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,138}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{182,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,142},{146,60}}</string>
                <key>offset</key>
                <string>{-24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,148},{146,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{134,134}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,74},{134,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,408},{106,144}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,64},{106,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,700},{108,144}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{108,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,846},{104,144}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{104,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000409_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,554},{102,144}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{102,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000409.pvr.ccz</string>
            <key>size</key>
            <string>{242,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53dada7c37b41d69cbdeb1de91a447d:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000409.pvr.ccz</string>
        </dict>
    </dict>
</plist>
