<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000444_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{106,116}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,92},{106,116}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{112,118}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,90},{112,118}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,84},{122,74}}</string>
                <key>offset</key>
                <string>{47,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,134},{122,74}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{152,138}}</string>
                <key>offset</key>
                <string>{59,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,70},{152,138}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,188}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,20},{188,188}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,188}}</string>
                <key>offset</key>
                <string>{70,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,20},{198,188}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,156},{126,52}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{126,52}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,122},{74,146}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,62},{74,146}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{80,130}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,78},{80,130}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{80,128}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,80},{80,128}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,84},{80,128}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,80},{80,128}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
            <key>hero_000444_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,120},{82,128}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,80},{82,128}}</string>
                <key>sourceSize</key>
                <string>{340,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000444.pvr.ccz</string>
            <key>size</key>
            <string>{1006,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ecebafe91b633aa18e7ed1b68d7d980:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000444.pvr.ccz</string>
        </dict>
    </dict>
</plist>
