<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100024_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{92,124}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,84},{92,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{92,112}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,96},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{94,110}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,98},{94,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,144}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{108,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{100,144}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,64},{100,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{102,132}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{102,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{110,58}}</string>
                <key>offset</key>
                <string>{-28,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,150},{110,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{88,122}}</string>
                <key>offset</key>
                <string>{-41,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,86},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{92,138}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{92,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{94,138}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,70},{94,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{94,138}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,70},{94,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100024_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,140}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,68},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100024.pvr.ccz</string>
            <key>size</key>
            <string>{112,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ea2ed3f16f160d45635c634eceeec4:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
