<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_000426_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,272},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{74,130}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{74,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{86,126}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,82},{86,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{158,122}}</string>
                <key>offset</key>
                <string>{46,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,86},{158,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,124}}</string>
                <key>offset</key>
                <string>{48,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,84},{160,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{160,118}}</string>
                <key>offset</key>
                <string>{48,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{160,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{72,86}}</string>
                <key>offset</key>
                <string>{-28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,122},{72,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,410},{62,126}}</string>
                <key>offset</key>
                <string>{-47,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,82},{62,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,272},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,552},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,414},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_000426_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{62,136}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{62,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_000426.pvr.ccz</string>
            <key>size</key>
            <string>{251,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:409369648a60c75b3a57bc22409df08a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_000426.pvr.ccz</string>
        </dict>
    </dict>
</plist>
