<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_100006_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,528},{106,152}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{106,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{84,186}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,22},{84,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{94,162}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,46},{94,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,74},{214,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{188,132}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,76},{188,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{128,144}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{128,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{138,68}}</string>
                <key>offset</key>
                <string>{-14,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,150},{138,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_defend_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,272},{108,146}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,62},{108,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,420},{106,152}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,56},{106,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,742},{104,158}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{104,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,636},{104,162}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,46},{104,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hero_100006_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{104,158}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,50},{104,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_100006.pvr.ccz</string>
            <key>size</key>
            <string>{242,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427fe8d5a07310a46b0ebd481621433c:1/1$</string>
            <key>textureFileName</key>
            <string>hero_100006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
