<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Congratulation_blurShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1865},{512,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,100}}</string>
                <key>sourceSize</key>
                <string>{512,100}</string>
            </dict>
            <key>bgCircle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,775},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bgCircle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,673},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bgCircle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1819},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bgCircle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1819},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bgCircle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1717},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>call_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1940},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>call_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1940},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>call_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1940},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>call_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1069},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>call_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1396},{40,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,93}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>call_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1940},{93,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,96}}</string>
                <key>sourceSize</key>
                <string>{93,96}</string>
            </dict>
            <key>call_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1940},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>call_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1940},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>call_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1517},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>call_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1354},{40,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,93}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>call_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1940},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>call_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1921},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>call_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1921},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>call_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1517},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>call_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,388},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>call_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,100},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>call_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,973},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>call_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,293},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>call_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,578},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>call_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1259},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>call_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>call_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1940},{40,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,93}}</string>
                <key>sourceSize</key>
                <string>{40,93}</string>
            </dict>
            <key>call_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,877},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>call_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,198},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>call_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,483},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>call_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1164},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>call_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1164},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>call_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1940},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>call_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1164},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>call_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,483},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>gateCrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1415},{198,559}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{198,559}}</string>
                <key>sourceSize</key>
                <string>{260,579}</string>
            </dict>
            <key>outlineRing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1615},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outlineRing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1615},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outlineRing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1415},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outlineRing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1717},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>outlineRing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1615},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>reflectionCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1615},{500,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,248}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>rotatingCircle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{645,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,644}}</string>
                <key>sourceSize</key>
                <string>{645,644}</string>
            </dict>
            <key>rotatingCircle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,648},{610,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,610}}</string>
                <key>sourceSize</key>
                <string>{610,610}</string>
            </dict>
            <key>rotatingCircle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{645,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,644}}</string>
                <key>sourceSize</key>
                <string>{645,644}</string>
            </dict>
            <key>rotatingCircle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{645,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,644}}</string>
                <key>sourceSize</key>
                <string>{645,644}</string>
            </dict>
            <key>rotatingCircle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,644}}</string>
                <key>sourceSize</key>
                <string>{645,644}</string>
            </dict>
            <key>staticCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1260},{610,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,153}}</string>
                <key>sourceSize</key>
                <string>{610,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>getAnimaiton1.pvr.ccz</string>
            <key>size</key>
            <string>{1384,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c44947832efd829070dd5de8cbea45c1:1/1$</string>
            <key>textureFileName</key>
            <string>getAnimaiton1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
