<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>awakening_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>awakening_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>awakening_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,317},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>awakening_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,170},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>awakening_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,509},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>awakening_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{505,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,56}}</string>
                <key>sourceSize</key>
                <string>{505,56}</string>
            </dict>
            <key>chooseHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>nature_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,516},{50,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nature_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,512},{42,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nature_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,464},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nature_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,464},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>awakening.pvr.ccz</string>
            <key>size</key>
            <string>{1573,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cab955b28a33885edbd68e9123bb5d1:1/1$</string>
            <key>textureFileName</key>
            <string>awakening.pvr.ccz</string>
        </dict>
    </dict>
</plist>
