<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleShipFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,500}}</string>
                <key>sourceSize</key>
                <string>{620,500}</string>
            </dict>
            <key>battleShipRefineProgressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{217,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,515}}</string>
                <key>sourceSize</key>
                <string>{217,515}</string>
            </dict>
            <key>battleship_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1142},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1014},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_cri.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,884},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,754},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_dod.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,884},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,624},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1014},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_parry.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,754},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battleship_resi.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,624},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleShip.pvr.ccz</string>
            <key>size</key>
            <string>{504,1270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5100bd33f252ec37b1aa62af2f01d0f:1/1$</string>
            <key>textureFileName</key>
            <string>battleShip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
