<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_btm0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>btn_btm7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bottomBtn.pvr.ccz</string>
            <key>size</key>
            <string>{116,1730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60165b22b4ee865b17d67b46d61cde85:1/1$</string>
            <key>textureFileName</key>
            <string>bottomBtn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
