<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>breakSkillFailText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>breakSkillFailText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>breakSkillFailText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>breakSkillFailText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>breakSkillSucText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>breakSkillSucText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>breakSkillSucText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>breakSkillSucText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>breakSkillSucText_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>combileChaptersSucText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>combileChaptersSucText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>combileChaptersSucText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>combileChaptersSucText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>combileChaptersSucText_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>break_combine_aniText.pvr.ccz</string>
            <key>size</key>
            <string>{933,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed6585760d4b3242f9edc1e73569dad:1/1$</string>
            <key>textureFileName</key>
            <string>break_combine_aniText.pvr.ccz</string>
        </dict>
    </dict>
</plist>
