<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bruckSingBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1290},{559,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,276}}</string>
                <key>sourceSize</key>
                <string>{559,276}</string>
            </dict>
            <key>dice_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1084},{128,154}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,95},{128,154}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>dice_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1352},{130,170}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{130,170}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>dice_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1352},{154,198}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,47},{154,198}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>dice_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1084},{148,132}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,132},{148,132}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>dice_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1290},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>dice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1173},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>dice_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1352},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>dice_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1191},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>dice_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1062},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>dice_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,933},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>dice_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,804},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>dice_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,675},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>purchaseAwardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,675},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>purchaseAwardBox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,675},{439,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,407}}</string>
                <key>sourceSize</key>
                <string>{439,407}</string>
            </dict>
            <key>purchaseAwardBox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1140},{439,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,407}}</string>
                <key>sourceSize</key>
                <string>{439,407}</string>
            </dict>
            <key>purchaseAwardBox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{439,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,407}}</string>
                <key>sourceSize</key>
                <string>{439,407}</string>
            </dict>
            <key>purchaseAwardProgressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1290},{60,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,310}}</string>
                <key>sourceSize</key>
                <string>{60,310}</string>
            </dict>
            <key>purchaseAwardProgressStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1173},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>treasureBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>treasureBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>treasureFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1084},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>treasure_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1481},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>wishBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daily2.pvr.ccz</string>
            <key>size</key>
            <string>{2007,1581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d922567275e5dc7f13cc36f03924be66:1/1$</string>
            <key>textureFileName</key>
            <string>daily2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
