<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eatMeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,737},{242,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{242,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eatMeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{242,210}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{242,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qingjiaoProgress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{529,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,60}}</string>
                <key>sourceSize</key>
                <string>{529,60}</string>
            </dict>
            <key>qingjiaoTreasure_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daily3.pvr.ccz</string>
            <key>size</key>
            <string>{617,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3adb3ce7f65293359d0d917e50c66a:1/1$</string>
            <key>textureFileName</key>
            <string>daily3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
