<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eatBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1232},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>eatCanEat.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1587},{467,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,227}}</string>
                <key>sourceSize</key>
                <string>{467,227}</string>
            </dict>
            <key>eatCooking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{468,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,536}}</string>
                <key>sourceSize</key>
                <string>{468,536}</string>
            </dict>
            <key>goldClockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1816},{427,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,128}}</string>
                <key>sourceSize</key>
                <string>{427,128}</string>
            </dict>
            <key>goldClockFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,675},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>goldenBell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1847},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>goldenBell_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1962},{159,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,24}}</string>
                <key>sourceSize</key>
                <string>{159,24}</string>
            </dict>
            <key>goldenBell_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1894},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>goldenBell_light_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1847},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>goldenBell_luffy.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1587},{237,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,293}}</string>
                <key>sourceSize</key>
                <string>{237,293}</string>
            </dict>
            <key>instructDialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{446,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,101}}</string>
                <key>sourceSize</key>
                <string>{446,101}</string>
            </dict>
            <key>instructHeroGBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,617},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>instructHeroSBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>inviteBox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1348},{119,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,133}}</string>
                <key>sourceSize</key>
                <string>{119,133}</string>
            </dict>
            <key>inviteBox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1847},{140,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,159}}</string>
                <key>sourceSize</key>
                <string>{140,159}</string>
            </dict>
            <key>inviteCodeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1962},{159,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,24}}</string>
                <key>sourceSize</key>
                <string>{159,24}</string>
            </dict>
            <key>luoBinFlowersBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>mouthBtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1882},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>mouthBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1847},{128,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{128,81}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>mouthBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1882},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>renyugongzhuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>textBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1930},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>upgradeAwardBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1847},{111,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>upgradeAwardBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1847},{111,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>upgradeAwardCell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1491},{622,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,94}}</string>
                <key>sourceSize</key>
                <string>{622,94}</string>
            </dict>
            <key>upgradeAwardCell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1348},{623,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,141}}</string>
                <key>sourceSize</key>
                <string>{623,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daily.pvr.ccz</string>
            <key>size</key>
            <string>{1905,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab04526f44295d48108c366e7b2af079:1/1$</string>
            <key>textureFileName</key>
            <string>daily.pvr.ccz</string>
        </dict>
    </dict>
</plist>
