<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,333}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{624,333}}</string>
                <key>sourceSize</key>
                <string>{630,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daLogo.pvr.ccz</string>
            <key>size</key>
            <string>{628,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb5df8239a3724dda179eac322a0dd0:1/1$</string>
            <key>textureFileName</key>
            <string>daLogo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
