<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipCellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,190},{626,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,186}}</string>
                <key>sourceSize</key>
                <string>{626,186}</string>
            </dict>
            <key>equipCellSelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{626,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,186}}</string>
                <key>sourceSize</key>
                <string>{626,186}</string>
            </dict>
            <key>equipLvupBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{620,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,500}}</string>
                <key>sourceSize</key>
                <string>{620,500}</string>
            </dict>
            <key>equipRefineBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,500}}</string>
                <key>sourceSize</key>
                <string>{620,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip.pvr.ccz</string>
            <key>size</key>
            <string>{1874,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac49ffdac9a6bba60a4ecdc3ea7556c:1/1$</string>
            <key>textureFileName</key>
            <string>equip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
