<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightingBg_6_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{768,214}}</string>
                <key>offset</key>
                <string>{0,258}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,214}}</string>
                <key>sourceSize</key>
                <string>{768,730}</string>
            </dict>
            <key>fightingBg_6_clouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{678,100}}</string>
                <key>offset</key>
                <string>{3,294}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,21},{678,100}}</string>
                <key>sourceSize</key>
                <string>{768,730}</string>
            </dict>
            <key>fightingBg_6_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,730}}</string>
                <key>sourceSize</key>
                <string>{768,730}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightingBg_6.pvr.ccz</string>
            <key>size</key>
            <string>{988,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddbb1d0a879dd64b0791f37a223efd9a:1/1$</string>
            <key>textureFileName</key>
            <string>fightingBg_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
