<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightingBg_1_birds.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1315},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>fightingBg_1_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{541,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,204}}</string>
                <key>sourceSize</key>
                <string>{541,204}</string>
            </dict>
            <key>fightingBg_1_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,568}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{768,568}}</string>
                <key>sourceSize</key>
                <string>{768,730}</string>
            </dict>
            <key>fightingBg_1_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{768,360}}</string>
                <key>offset</key>
                <string>{0,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,360}}</string>
                <key>sourceSize</key>
                <string>{768,730}</string>
            </dict>
            <key>fightingBg_1_sea_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,545},{768,194}}</string>
                <key>offset</key>
                <string>{0,185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,194}}</string>
                <key>sourceSize</key>
                <string>{768,564}</string>
            </dict>
            <key>fightingBg_1_sea_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{768,176}}</string>
                <key>offset</key>
                <string>{0,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,176}}</string>
                <key>sourceSize</key>
                <string>{768,546}</string>
            </dict>
            <key>fightingBg_1_sea_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{768,160}}</string>
                <key>offset</key>
                <string>{0,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,160}}</string>
                <key>sourceSize</key>
                <string>{768,530}</string>
            </dict>
            <key>fightingBg_1_sea_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{768,106}}</string>
                <key>offset</key>
                <string>{0,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,106}}</string>
                <key>sourceSize</key>
                <string>{768,476}</string>
            </dict>
            <key>fightingBg_1_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1315},{85,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,62}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightingBg_1.pvr.ccz</string>
            <key>size</key>
            <string>{978,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0ba2d3630b63f5f7193c6904df7960:1/1$</string>
            <key>textureFileName</key>
            <string>fightingBg_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
