<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>VSIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,1966},{88,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,59}}</string>
			<key>sourceSize</key>
			<string>{88,59}</string>
		</dict>
		<key>bgForHeads.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{768,491}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,491}}</string>
			<key>sourceSize</key>
			<string>{768,491}</string>
		</dict>
		<key>bloodBarBgOnHeadIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,543},{145,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,5}}</string>
			<key>sourceSize</key>
			<string>{145,5}</string>
		</dict>
		<key>bloodBarOnHeadIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,1467},{145,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,5}}</string>
			<key>sourceSize</key>
			<string>{145,5}</string>
		</dict>
		<key>bloodBarOnTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,1467},{98,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,22}}</string>
			<key>sourceSize</key>
			<string>{98,22}</string>
		</dict>
		<key>exl/exlAnimation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1905},{130,51}}</string>
			<key>offset</key>
			<string>{0,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,76},{130,51}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlAnimation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1854},{156,91}}</string>
			<key>offset</key>
			<string>{-7,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,36},{156,91}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlAnimation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,1124},{134,127}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{134,127}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlAnimation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,1253},{130,115}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,12},{130,115}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlAnimation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1808},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlClrAnimation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1808},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlClrAnimation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1834},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlClrAnimation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,1436},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlClrAnimation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,1370},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>exl/exlClrAnimation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,1304},{130,95}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,32},{130,95}}</string>
			<key>sourceSize</key>
			<string>{176,127}</string>
		</dict>
		<key>fightingView_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{610,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,101}}</string>
			<key>sourceSize</key>
			<string>{610,101}</string>
		</dict>
		<key>ghostAni_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,1958},{39,64}}</string>
			<key>offset</key>
			<string>{-6,-57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,134},{39,64}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,1955},{39,64}}</string>
			<key>offset</key>
			<string>{-6,-54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,131},{39,64}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,1947},{41,84}}</string>
			<key>offset</key>
			<string>{-4,-43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,110},{41,84}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1614},{45,92}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,87},{45,92}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,1568},{61,104}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,46},{61,104}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,1947},{63,116}}</string>
			<key>offset</key>
			<string>{2,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,40},{63,116}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1966},{55,92}}</string>
			<key>offset</key>
			<string>{6,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,36},{55,92}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>ghostAni_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1958},{53,88}}</string>
			<key>offset</key>
			<string>{7,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,29},{53,88}}</string>
			<key>sourceSize</key>
			<string>{119,218}</string>
		</dict>
		<key>headBg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,1661},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headBg_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,1808},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headBg_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1661},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headBg_grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1467},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headBg_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,1157},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headFrame_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1661},{171,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,110}}</string>
			<key>sourceSize</key>
			<string>{171,110}</string>
		</dict>
		<key>headFrame_highLight.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,368},{173,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,117}}</string>
			<key>sourceSize</key>
			<string>{173,117}</string>
		</dict>
		<key>headFrame_silver.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,543},{171,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,110}}</string>
			<key>sourceSize</key>
			<string>{171,110}</string>
		</dict>
		<key>headImage_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,1010},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headImage_dying.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,863},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>headImage_null.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,716},{145,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,90}}</string>
			<key>sourceSize</key>
			<string>{145,90}</string>
		</dict>
		<key>heal/healAnimation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,185},{118,181}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{118,181}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1675},{128,177}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,6},{128,177}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,1134},{138,177}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{138,177}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1488},{134,171}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{134,171}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,953},{146,179}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{146,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1748},{132,179}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{132,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1384},{126,181}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{126,181}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1494},{126,179}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{126,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>heal/healAnimation_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1311},{126,175}}</string>
			<key>offset</key>
			<string>{4,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{126,175}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,2},{118,181}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{118,181}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,772},{128,177}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,6},{128,177}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,772},{138,177}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{138,177}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,951},{134,171}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{134,171}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,772},{146,179}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{146,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,951},{132,179}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{132,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1313},{126,179}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{126,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1567},{126,179}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{126,179}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sbd/sbdAnimation_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,1134},{126,175}}</string>
			<key>offset</key>
			<string>{4,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{126,175}}</string>
			<key>sourceSize</key>
			<string>{150,185}</string>
		</dict>
		<key>sweepArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1929},{103,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,90}}</string>
			<key>sourceSize</key>
			<string>{103,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FightingSceneRes.pvr.ccz</string>
		<key>size</key>
		<string>{615,2034}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c8792bcd5baaecd2966b8419260ae5f9:1/1$</string>
		<key>textureFileName</key>
		<string>FightingSceneRes.pvr.ccz</string>
	</dict>
</dict>
</plist>
