<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flag_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,132},{140,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{140,116}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,124},{130,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{130,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,126},{144,116}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,116}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,134},{134,118}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{134,118}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,134},{126,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{126,118}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{134,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{134,126}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{152,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{152,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{142,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{142,120}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{154,120}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,122}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{156,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,130},{120,126}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{120,126}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{140,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,124},{148,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{148,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{148,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{136,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{136,120}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,134},{112,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{112,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{152,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{152,118}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,126},{138,122}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{138,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{146,128}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{146,128}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{130,130}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{142,122}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,122}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>flag_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,124},{138,124}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{138,124}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flag.pvr.ccz</string>
            <key>size</key>
            <string>{1604,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3ccc75cfaf96d24d259b70e68281c99:1/1$</string>
            <key>textureFileName</key>
            <string>flag.pvr.ccz</string>
        </dict>
    </dict>
</plist>
