<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fenjie_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,320},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>btn_fenjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,320},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>btn_zhuzao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,175},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>btn_zhuzao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>fenjie_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,275},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>fulanqidekuaisufenjieji_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,50}}</string>
                <key>sourceSize</key>
                <string>{369,50}</string>
            </dict>
            <key>fulanqidezhizaogongfang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{345,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,52}}</string>
                <key>sourceSize</key>
                <string>{345,52}</string>
            </dict>
            <key>fulanqizhijia_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{284,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,65}}</string>
                <key>sourceSize</key>
                <string>{284,65}</string>
            </dict>
            <key>huodong_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,108},{59,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,37}}</string>
                <key>sourceSize</key>
                <string>{59,37}</string>
            </dict>
            <key>qufenjie_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,175},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>quzhizao_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,169},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>shuangbeidiaoluo_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{179,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{179,77}</string>
            </dict>
            <key>xuanzezhuangbei_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,465},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>zhizao_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,108},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fontPic_3.pvr.ccz</string>
            <key>size</key>
            <string>{373,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee27a5f7bdd5e15f5e5e0ea178049ae3:1/1$</string>
            <key>textureFileName</key>
            <string>fontPic_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
