<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>128yuanyueka_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,258},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>30yuanyueka_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,323},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>328yuanyueka_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,193},{204,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,63}}</string>
                <key>sourceSize</key>
                <string>{204,63}</string>
            </dict>
            <key>baocun_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,547},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>beizhanling_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,81},{129,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,77}}</string>
                <key>sourceSize</key>
                <string>{129,77}</string>
            </dict>
            <key>btn_choushici_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,461},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>btn_choushici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,388},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{71,66}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>btn_jinridejiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,65},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>btn_jinridejiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,461},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,64}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>btn_xingyundajiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,461},{92,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>btn_xingyundajiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,388},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,71}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>btn_xingyunshangdian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,579},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>btn_xingyunshangdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,160},{83,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{83,67}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>canzhan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,692},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>chaozhiyuekabaibeihuibao_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{510,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,72}}</string>
                <key>sourceSize</key>
                <string>{510,72}</string>
            </dict>
            <key>chongbaijuanzeng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,545},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>daociweizhi_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,368},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,33}}</string>
                <key>sourceSize</key>
                <string>{130,33}</string>
            </dict>
            <key>dazao_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,547},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>dazhuanpan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,352},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>denglusonglufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,137},{229,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,54}}</string>
                <key>sourceSize</key>
                <string>{229,54}</string>
            </dict>
            <key>di_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,159},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>duihuan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,403},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>duihuanchenggong_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,176}}</string>
                <key>sourceSize</key>
                <string>{507,176}</string>
            </dict>
            <key>fangyuYellow_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,204},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>fangyu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,552},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>fatangguo_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,674},{97,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,35}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>feng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,160},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>genghuanyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,686},{129,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,35}}</string>
                <key>sourceSize</key>
                <string>{129,35}</string>
            </dict>
            <key>huanyingzi_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,403},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>huigui_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,644},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>huo_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,461},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>jianjue_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,476},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>jiasu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,440},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>jichujuanzeng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,316},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>jieguoyulan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,545},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>jixuduihuan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,542},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>jixuzhandou_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,280},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>juanzeng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,245},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>kaizhan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,347},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>lei_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,579},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>lianmengjianshe_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,244},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>lianmengshangcheng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,677},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>lianmengshengji_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,426},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,33}}</string>
                <key>sourceSize</key>
                <string>{130,33}</string>
            </dict>
            <key>lianqita_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,246},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>lianshici_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,440},{97,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,34}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>lianying_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,252},{271,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,73}}</string>
                <key>sourceSize</key>
                <string>{271,73}</string>
            </dict>
            <key>lianying_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,327},{271,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{271,63}}</string>
                <key>sourceSize</key>
                <string>{271,73}</string>
            </dict>
            <key>lianying_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,687},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>lianying_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,552},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>lianying_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,514},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>lianying_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,280},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>lianying_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,440},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>lianying_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,137},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>mengzhan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,323},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>mianfeiduige_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,648},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>paiqian_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,619},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>qingjiaobaozang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{354,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,61}}</string>
                <key>sourceSize</key>
                <string>{354,61}</string>
            </dict>
            <key>quanbuxiufu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,388},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>qulianyingqudeyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{226,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,35}}</string>
                <key>sourceSize</key>
                <string>{226,35}</string>
            </dict>
            <key>shengji_white_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,615},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>shengjiyingzi_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,545},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>shouchongfanbei_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,665},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>shuashici_blue_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,545},{121,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,45}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>shuashici_purpe_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,671},{121,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,45}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>shuaxin_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,655},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>shui_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,283},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>songyici_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,508},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>sudi_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,512},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>suipian_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,619},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>union_battle_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,511},{158,135}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,135}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>union_battle_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,180},{116,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{116,111}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>union_build_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,511},{158,129}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{158,129}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>union_build_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,581},{114,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{114,103}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>union_shop_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,293},{158,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{158,131}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>union_shop_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,461},{118,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{118,107}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>wufengdai_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,392},{262,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,61}}</string>
                <key>sourceSize</key>
                <string>{262,61}</string>
            </dict>
            <key>xingyundazhuanpan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,455},{254,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,54}}</string>
                <key>sourceSize</key>
                <string>{254,54}</string>
            </dict>
            <key>xinyangjuanzeng_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,425},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>xiufu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,440},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>xiulian_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,283},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>xiulianchenggong_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,65},{279,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,70}}</string>
                <key>sourceSize</key>
                <string>{279,70}</string>
            </dict>
            <key>xiulianshibai_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,180},{315,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,70}}</string>
                <key>sourceSize</key>
                <string>{315,70}</string>
            </dict>
            <key>yigongzhan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{129,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,77}}</string>
                <key>sourceSize</key>
                <string>{129,77}</string>
            </dict>
            <key>yingwen_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,607},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>yingxiang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,539},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,478},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>zhandou_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,576},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fontPic_2.pvr.ccz</string>
            <key>size</key>
            <string>{1021,729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95a7a56007f97937e00b5a8cf9db9dce:1/1$</string>
            <key>textureFileName</key>
            <string>fontPic_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
