<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>name_aggskill_000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{287,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,59}}</string>
                <key>sourceSize</key>
                <string>{287,59}</string>
            </dict>
            <key>name_aggskill_000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{287,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,59}}</string>
                <key>sourceSize</key>
                <string>{287,59}</string>
            </dict>
            <key>name_aggskill_000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,369},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>name_aggskill_000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{115,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,58}}</string>
                <key>sourceSize</key>
                <string>{115,58}</string>
            </dict>
            <key>name_aggskill_000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,369},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>name_aggskill_000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,63},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>name_aggskill_000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{116,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,59}}</string>
                <key>sourceSize</key>
                <string>{116,59}</string>
            </dict>
            <key>name_aggskill_000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{288,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,59}}</string>
                <key>sourceSize</key>
                <string>{288,59}</string>
            </dict>
            <key>result_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{292,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,71}}</string>
                <key>sourceSize</key>
                <string>{292,71}</string>
            </dict>
            <key>result_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,369},{276,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,84}}</string>
                <key>sourceSize</key>
                <string>{276,84}</string>
            </dict>
            <key>result_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,123},{232,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,105}}</string>
                <key>sourceSize</key>
                <string>{232,105}</string>
            </dict>
            <key>result_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,113},{215,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,38}}</string>
                <key>sourceSize</key>
                <string>{215,38}</string>
            </dict>
            <key>result_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,123},{216,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,43}}</string>
                <key>sourceSize</key>
                <string>{216,43}</string>
            </dict>
            <key>result_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,455},{216,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,43}}</string>
                <key>sourceSize</key>
                <string>{216,43}</string>
            </dict>
            <key>title_uninhabited.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,109}}</string>
                <key>sourceSize</key>
                <string>{332,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fontPic_haki.pvr.ccz</string>
            <key>size</key>
            <string>{488,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d102662050999e75e42c88d063ce144:1/1$</string>
            <key>textureFileName</key>
            <string>fontPic_haki.pvr.ccz</string>
        </dict>
    </dict>
</plist>
