<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1122},{390,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,115}}</string>
                <key>sourceSize</key>
                <string>{390,115}</string>
            </dict>
            <key>icon_chopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,806},{201,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,314}}</string>
                <key>sourceSize</key>
                <string>{201,314}</string>
            </dict>
            <key>item_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1514},{192,198}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{192,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>item_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{192,198}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{192,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jigsaw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1213},{119,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,97}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>jigsaw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1514},{121,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,143}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>jigsaw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,122}}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>jigsaw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1213},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>jigsaw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1415},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>jigsaw_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1122},{144,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,98}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>jigsaw_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{120,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,117}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>jigsaw_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1334},{98,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,117}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>jigsaw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1714},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>jigsaw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1676},{119,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,97}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>jigsaw_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1316},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>jigsaw_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1714},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>jigsaw_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1551},{123,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,100}}</string>
                <key>sourceSize</key>
                <string>{123,100}</string>
            </dict>
            <key>jigsaw_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1659},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>jigsaw_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1411},{98,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,138}}</string>
                <key>sourceSize</key>
                <string>{98,138}</string>
            </dict>
            <key>jigsaw_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1268},{98,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,141}}</string>
                <key>sourceSize</key>
                <string>{98,141}</string>
            </dict>
            <key>scrollBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,802}}</string>
                <key>sourceSize</key>
                <string>{624,802}</string>
            </dict>
            <key>sixteenthBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{405,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,405}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>title_chopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{128,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,123}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jigsaw.pvr.ccz</string>
            <key>size</key>
            <string>{628,1833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835966a3549bab2dd9fa280b671f51fd:1/1$</string>
            <key>textureFileName</key>
            <string>jigsaw.pvr.ccz</string>
        </dict>
    </dict>
</plist>
