<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lala1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{207,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,251}}</string>
                <key>sourceSize</key>
                <string>{207,251}</string>
            </dict>
            <key>lala1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{183,227}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{183,227}}</string>
                <key>sourceSize</key>
                <string>{207,251}</string>
            </dict>
            <key>lala2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,189},{168,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,163}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>lala2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,220},{146,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{146,141}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>lala3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{185,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,240}}</string>
                <key>sourceSize</key>
                <string>{185,240}</string>
            </dict>
            <key>lala3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{161,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{161,216}}</string>
                <key>sourceSize</key>
                <string>{185,240}</string>
            </dict>
            <key>lala4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{233,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,185}}</string>
                <key>sourceSize</key>
                <string>{233,185}</string>
            </dict>
            <key>lala4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,189},{209,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{209,161}}</string>
                <key>sourceSize</key>
                <string>{233,185}</string>
            </dict>
            <key>lala5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,220},{125,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,167}}</string>
                <key>sourceSize</key>
                <string>{125,167}</string>
            </dict>
            <key>lala5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,255},{103,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{103,143}}</string>
                <key>sourceSize</key>
                <string>{125,167}</string>
            </dict>
            <key>lala6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,255},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>lala6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,244},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{86,96}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>lala7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{191,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,197}}</string>
                <key>sourceSize</key>
                <string>{191,197}</string>
            </dict>
            <key>lala7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,195},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{167,173}}</string>
                <key>sourceSize</key>
                <string>{191,197}</string>
            </dict>
            <key>lala_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,666}}</string>
                <key>sourceSize</key>
                <string>{369,666}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lala.pvr.ccz</string>
            <key>size</key>
            <string>{1934,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964e3607c6c1c7aaa83ca87cff43b645:1/1$</string>
            <key>textureFileName</key>
            <string>lala.pvr.ccz</string>
        </dict>
    </dict>
</plist>
