<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Chopper_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{158,129}}</string>
			<key>offset</key>
			<string>{-47,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,90},{158,129}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,2},{180,201}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,17},{180,201}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{204,201}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,17},{204,201}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,204},{200,115}}</string>
			<key>offset</key>
			<string>{19,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,104},{200,115}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,208},{154,147}}</string>
			<key>offset</key>
			<string>{-72,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,72},{154,147}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,2},{182,189}}</string>
			<key>offset</key>
			<string>{10,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,29},{182,189}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,2},{200,115}}</string>
			<key>offset</key>
			<string>{19,-46}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,104},{200,115}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
		<key>Chopper_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,2},{178,201}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,17},{178,201}}</string>
			<key>sourceSize</key>
			<string>{300,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LoadingAniForReview.pvr.ccz</string>
		<key>size</key>
		<string>{1004,381}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:979f77b1d63ef17359c2cc87ed5d8fc4:1/1$</string>
		<key>textureFileName</key>
		<string>LoadingAniForReview.pvr.ccz</string>
	</dict>
</dict>
</plist>
