<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chopper_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{134,185}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{134,185}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{142,193}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{142,193}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,201}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{156,201}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{142,193}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{142,193}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{134,185}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{134,185}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{142,193}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{142,193}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,201}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,12},{156,201}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
            <key>Chopper_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{142,193}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{142,193}}</string>
                <key>sourceSize</key>
                <string>{234,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingAni.pvr.ccz</string>
            <key>size</key>
            <string>{878,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8c4ae6b0a618e24b4d74c1381dc081:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingAni.pvr.ccz</string>
        </dict>
    </dict>
</plist>
