<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIPTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{517,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,184}}</string>
                <key>sourceSize</key>
                <string>{517,184}</string>
            </dict>
            <key>VIPTitle_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1001},{517,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,197}}</string>
                <key>sourceSize</key>
                <string>{517,197}</string>
            </dict>
            <key>activityTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1200},{473,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,110}}</string>
                <key>sourceSize</key>
                <string>{473,110}</string>
            </dict>
            <key>btn_maid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,838},{128,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{128,142}</string>
            </dict>
            <key>btn_maid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,982},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>chongjiBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1099},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>exchangeBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1303},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>exchange_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,559},{538,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,158}}</string>
                <key>sourceSize</key>
                <string>{538,158}</string>
            </dict>
            <key>fanliBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1312},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>firework.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1312},{82,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{82,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>guessBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1312},{84,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>jigsawBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,763},{70,70}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loginActivityBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,799},{104,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>loginActivity_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,928},{454,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,397}}</string>
                <key>sourceSize</key>
                <string>{454,397}</string>
            </dict>
            <key>loginActivity_FrameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>loginBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1312},{86,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loginBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1263},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>nami1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{524,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,403}}</string>
                <key>sourceSize</key>
                <string>{524,403}</string>
            </dict>
            <key>newYearActivityBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{613,763}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,763}}</string>
                <key>sourceSize</key>
                <string>{613,763}</string>
            </dict>
            <key>oabBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1231},{88,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>rebate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,675},{86,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{86,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rebate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1183},{100,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rebateGoldBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1126},{114,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,89}}</string>
                <key>sourceSize</key>
                <string>{114,89}</string>
            </dict>
            <key>rebateGoldTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,767},{533,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,159}}</string>
                <key>sourceSize</key>
                <string>{533,159}</string>
            </dict>
            <key>rebateItemBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1231},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>rebateItemTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{555,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,158}}</string>
                <key>sourceSize</key>
                <string>{555,158}</string>
            </dict>
            <key>rebateTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,675},{535,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,161}}</string>
                <key>sourceSize</key>
                <string>{535,161}</string>
            </dict>
            <key>rebateTitle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,838},{533,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,161}}</string>
                <key>sourceSize</key>
                <string>{533,161}</string>
            </dict>
            <key>signInBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1312},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>signInBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1217},{84,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>singleBtnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1116},{184,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,113}}</string>
                <key>sourceSize</key>
                <string>{184,113}</string>
            </dict>
            <key>singleBtnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1001},{184,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,113}}</string>
                <key>sourceSize</key>
                <string>{184,113}</string>
            </dict>
            <key>twoDownBtnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,1001},{184,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,55}}</string>
                <key>sourceSize</key>
                <string>{184,55}</string>
            </dict>
            <key>twoDownBtnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1327},{184,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,55}}</string>
                <key>sourceSize</key>
                <string>{184,55}</string>
            </dict>
            <key>twoUpBtnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1327},{184,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,58}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>twoUpBtnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,928},{184,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,58}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>vip_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,795}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,795}}</string>
                <key>sourceSize</key>
                <string>{648,795}</string>
            </dict>
            <key>zhengbaBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1231},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginActivity.pvr.ccz</string>
            <key>size</key>
            <string>{2042,1395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1cebabe08733b3579343d6d36d1a3d8:1/1$</string>
            <key>textureFileName</key>
            <string>loginActivity.pvr.ccz</string>
        </dict>
    </dict>
</plist>
