<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>login_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{768,660}}</string>
                <key>offset</key>
                <string>{0,-238}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,476},{768,660}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginSpring.pvr.ccz</string>
            <key>size</key>
            <string>{1802,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c790d97a5236450dbe1658d49291da1:1/1$</string>
            <key>textureFileName</key>
            <string>loginSpring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
