<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,46}</string>
                <key>spriteSourceSize</key>
                <string>{138,46}</string>
                <key>textureRect</key>
                <string>{{2,1550},{138,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{940,551}</string>
                <key>spriteSourceSize</key>
                <string>{982,583}</string>
                <key>textureRect</key>
                <string>{{772,602},{940,551}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{1002,598}</string>
                <key>spriteSourceSize</key>
                <string>{1052,642}</string>
                <key>textureRect</key>
                <string>{{772,2},{1002,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{745,340}</string>
                <key>spriteSourceSize</key>
                <string>{777,370}</string>
                <key>textureRect</key>
                <string>{{2,1140},{745,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{554,262}</string>
                <key>spriteSourceSize</key>
                <string>{578,280}</string>
                <key>textureRect</key>
                <string>{{1285,1155},{554,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,238}</string>
                <key>spriteSourceSize</key>
                <string>{402,238}</string>
                <key>textureRect</key>
                <string>{{1776,2},{402,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{348,106}</string>
                <key>spriteSourceSize</key>
                <string>{350,106}</string>
                <key>textureRect</key>
                <string>{{1776,786},{348,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,59}</string>
                <key>spriteSourceSize</key>
                <string>{102,59}</string>
                <key>textureRect</key>
                <string>{{631,1482},{102,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huichangtiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,60}</string>
                <key>spriteSourceSize</key>
                <string>{532,60}</string>
                <key>textureRect</key>
                <string>{{1714,602},{532,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanchangtiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,66}</string>
                <key>spriteSourceSize</key>
                <string>{627,66}</string>
                <key>textureRect</key>
                <string>{{2,1482},{627,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1136}</string>
                <key>spriteSourceSize</key>
                <string>{768,1136}</string>
                <key>textureRect</key>
                <string>{{2,2},{768,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,448}</string>
                <key>spriteSourceSize</key>
                <string>{534,448}</string>
                <key>textureRect</key>
                <string>{{749,1155},{534,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_btn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{378,187}</string>
                <key>spriteSourceSize</key>
                <string>{390,197}</string>
                <key>textureRect</key>
                <string>{{1285,1419},{378,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{378,187}</string>
                <key>spriteSourceSize</key>
                <string>{390,197}</string>
                <key>textureRect</key>
                <string>{{1776,406},{378,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reg_btn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,77}</string>
                <key>spriteSourceSize</key>
                <string>{362,77}</string>
                <key>textureRect</key>
                <string>{{1884,786},{362,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reg_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,77}</string>
                <key>spriteSourceSize</key>
                <string>{362,77}</string>
                <key>textureRect</key>
                <string>{{1841,1150},{362,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>server_btn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,71}</string>
                <key>spriteSourceSize</key>
                <string>{317,71}</string>
                <key>textureRect</key>
                <string>{{1920,1150},{315,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>server_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,71}</string>
                <key>spriteSourceSize</key>
                <string>{317,71}</string>
                <key>textureRect</key>
                <string>{{1665,1514},{315,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_full_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{142,1550},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_hot_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{1665,1419},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_maintain_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{1725,1419},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_new_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1965,406},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>server_recom_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1965,406},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.pvr.ccz</string>
            <key>size</key>
            <string>{2016,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:000a1c7b54fe835388738b8dc9d7e34c:bb270a8c760c019d720b1ff93a88a08c:d74d9ddcdb92e9dcf0ab1b3bff211479$</string>
            <key>textureFileName</key>
            <string>login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
