<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,352},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>btn19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,417},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>btn19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,521},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>goldFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,340},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>grayFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,236},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>greenFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,171},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>levelSelectFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,521},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>marine_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>marine_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,417},{160,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>marine_door_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,171},{197,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,157}}</string>
                <key>sourceSize</key>
                <string>{197,157}</string>
            </dict>
            <key>marine_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,504},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>marine_island_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,352},{177,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,150}}</string>
                <key>sourceSize</key>
                <string>{177,150}</string>
            </dict>
            <key>marine_island_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,171},{195,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,167}}</string>
                <key>sourceSize</key>
                <string>{195,167}</string>
            </dict>
            <key>marine_island_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,236},{159,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{159,135}</string>
            </dict>
            <key>marine_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,504},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>marine_topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{768,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,167}}</string>
                <key>sourceSize</key>
                <string>{768,167}</string>
            </dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,549},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,397},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,549},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,521},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,352},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,579},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,549},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,521},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,380},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,579},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,521},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>purpleFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,171},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>title_tiaozhanhaijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{315,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,232}}</string>
                <key>sourceSize</key>
                <string>{315,232}</string>
            </dict>
            <key>whiteFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,340},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarineBranch.pvr.ccz</string>
            <key>size</key>
            <string>{1762,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a6c279f1eef344156033708af59cf6:1/1$</string>
            <key>textureFileName</key>
            <string>MarineBranch.pvr.ccz</string>
        </dict>
    </dict>
</plist>
