<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventure_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,898},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>atk_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,820},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>atk_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,820},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>atk_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,820},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>choose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{163,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,200}}</string>
                <key>sourceSize</key>
                <string>{163,200}</string>
            </dict>
            <key>def_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,784},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>def_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,639},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>def_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,675},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>hp_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,675},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>hp_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,675},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>hp_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,716},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>island_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{184,219}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,219}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>island_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,716},{180,203}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{180,203}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>island_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,764},{176,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{176,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>mp_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,494},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>mp_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,349},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>mp_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,204},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>nbtn_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,914},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>nbtn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,929},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>nbtn_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,861},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>nbtn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,942},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>nbtn_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,898},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>nbtn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,764},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>newworld_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>newworld_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>newworld_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{466,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,87}}</string>
                <key>sourceSize</key>
                <string>{466,87}</string>
            </dict>
            <key>smallbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,675},{320,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,39}}</string>
                <key>sourceSize</key>
                <string>{320,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newworld.pvr.ccz</string>
            <key>size</key>
            <string>{1400,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ffecdd81aae6cf7902cb038b75ea19:1/1$</string>
            <key>textureFileName</key>
            <string>newworld.pvr.ccz</string>
        </dict>
    </dict>
</plist>
