<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1101},{443,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,60}}</string>
                <key>sourceSize</key>
                <string>{443,60}</string>
            </dict>
            <key>dialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1723},{637,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,236}}</string>
                <key>sourceSize</key>
                <string>{637,236}</string>
            </dict>
            <key>layerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{768,915}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,915}}</string>
                <key>sourceSize</key>
                <string>{768,915}</string>
            </dict>
            <key>popUpFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{620,823}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,823}}</string>
                <key>sourceSize</key>
                <string>{620,823}</string>
            </dict>
            <key>popUpFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1101},{620,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,370}}</string>
                <key>sourceSize</key>
                <string>{620,370}</string>
            </dict>
            <key>popUpFrame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{620,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,631}}</string>
                <key>sourceSize</key>
                <string>{620,631}</string>
            </dict>
            <key>popUpFrame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,827},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>popUpFrame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,827},{583,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,272}}</string>
                <key>sourceSize</key>
                <string>{583,272}</string>
            </dict>
            <key>popUpFrame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1442},{507,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,382}}</string>
                <key>sourceSize</key>
                <string>{507,382}</string>
            </dict>
            <key>popupFrame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,624},{583,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,168}}</string>
                <key>sourceSize</key>
                <string>{583,168}</string>
            </dict>
            <key>screenBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>publicRes_2.pvr.ccz</string>
            <key>size</key>
            <string>{2037,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e75fe25cc96fc1a74d792904393730b:1/1$</string>
            <key>textureFileName</key>
            <string>publicRes_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
