<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{203,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,607}}</string>
                <key>sourceSize</key>
                <string>{203,607}</string>
            </dict>
            <key>itemCellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,171}}</string>
                <key>sourceSize</key>
                <string>{620,171}</string>
            </dict>
            <key>rec_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,332},{197,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,125}}</string>
                <key>sourceSize</key>
                <string>{197,125}</string>
            </dict>
            <key>rec_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,201},{197,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,328}}</string>
                <key>sourceSize</key>
                <string>{197,328}</string>
            </dict>
            <key>rec_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{197,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,328}}</string>
                <key>sourceSize</key>
                <string>{197,328}</string>
            </dict>
            <key>rec_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{197,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,328}}</string>
                <key>sourceSize</key>
                <string>{197,328}</string>
            </dict>
            <key>rec_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,380},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
            <key>rec_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recruit.pvr.ccz</string>
            <key>size</key>
            <string>{1153,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71baaf27d6f20ef38b51987fd0fff4ad:1/1$</string>
            <key>textureFileName</key>
            <string>recruit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
