<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{138,146}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,817},{146,140}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,669},{146,140}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,965},{138,146}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,521},{146,142}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,150},{146,138}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>resUpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>resUpProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,521},{513,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{513,14}}</string>
                <key>sourceSize</key>
                <string>{517,18}</string>
            </dict>
            <key>resUpProgressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{517,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,18}}</string>
                <key>sourceSize</key>
                <string>{517,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resourceUpdate.pvr.ccz</string>
            <key>size</key>
            <string>{932,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec20c6687e2bb142b9b796bf02ad7e9a:1/1$</string>
            <key>textureFileName</key>
            <string>resourceUpdate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
