<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,772},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>bg_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{615,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,103}}</string>
                <key>sourceSize</key>
                <string>{615,103}</string>
            </dict>
            <key>bg_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,772},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>bg_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,772},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>btn_go_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,874},{130,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>btn_go_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1226},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>btn_go_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,772},{130,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{768,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,17}}</string>
                <key>sourceSize</key>
                <string>{768,17}</string>
            </dict>
            <key>eat_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1374},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>fight_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1389},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>lightEffect_bigStage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1226},{52,80}}</string>
                <key>offset</key>
                <string>{82,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>lightEffect_bigStage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1386},{112,80}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>lightEffect_bigStage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1386},{128,80}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>lightEffect_bigStage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1386},{118,82}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,82}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>lightEffect_bigStage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1389},{66,82}}</string>
                <key>offset</key>
                <string>{-75,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{216,82}</string>
            </dict>
            <key>lightEffect_smallStage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,772},{142,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,113}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>lightEffect_smallStage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1113},{142,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,111}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>lightEffect_smallStage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1000},{142,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,111}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>lightEffect_smallStage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,887},{142,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,111}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>sail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,994}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,994}}</string>
                <key>sourceSize</key>
                <string>{768,994}</string>
            </dict>
            <key>stage_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,976},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>stage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1226},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>stage_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,772},{600,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,268}}</string>
                <key>sourceSize</key>
                <string>{600,268}</string>
            </dict>
            <key>stage_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1374},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sail.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a0bf35419d6e2c27d60697d2ed5313a:1/1$</string>
            <key>textureFileName</key>
            <string>sail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
