<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_boss_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,381},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>bg_nor_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>bg_sp_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{612,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,117}}</string>
                <key>sourceSize</key>
                <string>{612,117}</string>
            </dict>
            <key>mode_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,211},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>mode_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>stage_detail_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{600,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,377}}</string>
                <key>sourceSize</key>
                <string>{600,377}</string>
            </dict>
            <key>stagebg_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,225}}</string>
                <key>sourceSize</key>
                <string>{622,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sailElite.pvr.ccz</string>
            <key>size</key>
            <string>{1287,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:540875834fa030d74a2ec1847a2b4adb:1/1$</string>
            <key>textureFileName</key>
            <string>sailElite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
