<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sel_hero_000303_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,2},{105,241}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{105,241}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,482},{113,219}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,124},{113,219}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{129,225}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,118},{129,225}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,558},{141,223}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,120},{141,223}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{169,227}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,116},{169,227}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,245},{239,223}}</string>
                <key>offset</key>
                <string>{67,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,120},{239,223}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{293,213}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,130},{293,213}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,297},{257,219}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,124},{257,219}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,237},{227,221}}</string>
                <key>offset</key>
                <string>{-41,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,122},{227,221}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,229},{121,225}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,118},{121,225}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{111,233}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,120},{111,233}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,239},{107,235}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,108},{107,235}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{121,241}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{121,241}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{127,239}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,104},{127,239}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,556},{145,247}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,96},{145,247}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{165,253}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,90},{165,253}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,243},{111,237}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,112},{111,237}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,476},{145,225}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,118},{145,225}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{123,255}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,88},{123,255}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,297},{157,259}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,84},{157,259}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,251},{145,243}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,100},{145,243}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{161,313}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,30},{161,313}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,317},{175,309}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,34},{175,309}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,466},{207,227}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,134},{207,227}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,488},{211,191}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,170},{211,191}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,486},{221,209}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,145},{221,209}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,313}}</string>
                <key>offset</key>
                <string>{-38,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{179,313}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{139,301}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,42},{139,301}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{129,235}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,108},{129,235}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,512},{177,243}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,106},{177,243}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{179,247}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,101},{179,247}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_attack_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,257},{151,253}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,95},{151,253}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,245},{105,241}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{105,241}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,245},{105,241}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{105,241}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{105,239}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,104},{105,239}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>sel_hero_000303_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,245},{105,241}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{105,241}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectRoleSanji.pvr.ccz</string>
            <key>size</key>
            <string>{2037,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aec292112b641accd160ca1c6a4d53d:1/1$</string>
            <key>textureFileName</key>
            <string>selectRoleSanji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
