<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StrideServerArena_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,671}}</string>
                <key>sourceSize</key>
                <string>{613,671}</string>
            </dict>
            <key>StrideServerArena_underFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{599,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,106}}</string>
                <key>sourceSize</key>
                <string>{599,106}</string>
            </dict>
            <key>betChoose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,875},{177,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,48}}</string>
                <key>sourceSize</key>
                <string>{177,48}</string>
            </dict>
            <key>betChoose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,907},{149,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,42}}</string>
                <key>sourceSize</key>
                <string>{149,42}</string>
            </dict>
            <key>betEndUnderFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1058},{109,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,33}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>betFailBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1051},{109,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>enemyFai_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,907},{142,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,68}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
            <key>entranceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{596,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,362}}</string>
                <key>sourceSize</key>
                <string>{596,362}</string>
            </dict>
            <key>palyerOwner_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{595,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,144}}</string>
                <key>sourceSize</key>
                <string>{595,144}</string>
            </dict>
            <key>playerUnderFrameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,755},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>playerUnderFrameBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,603},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>rankOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1169},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>rankThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1169},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>rankTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1158},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>ranking1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,959},{230,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,88}}</string>
                <key>sourceSize</key>
                <string>{230,88}</string>
            </dict>
            <key>ranking1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,689},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>ranking2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,869},{230,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,88}}</string>
                <key>sourceSize</key>
                <string>{230,88}</string>
            </dict>
            <key>ranking2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1185},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>ranking3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,779},{230,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,88}}</string>
                <key>sourceSize</key>
                <string>{230,88}</string>
            </dict>
            <key>ranking3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1185},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>ranking4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,689},{230,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,88}}</string>
                <key>sourceSize</key>
                <string>{230,88}</string>
            </dict>
            <key>ranking4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>ranking5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,599},{230,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,88}}</string>
                <key>sourceSize</key>
                <string>{230,88}</string>
            </dict>
            <key>ranking_underFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1136},{188,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,93}}</string>
                <key>sourceSize</key>
                <string>{188,93}</string>
            </dict>
            <key>redDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,599},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>ssa_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1054},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ssa_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1185},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>supernova_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{595,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,144}}</string>
                <key>sourceSize</key>
                <string>{595,144}</string>
            </dict>
            <key>unRank_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{595,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,144}}</string>
                <key>sourceSize</key>
                <string>{595,144}</string>
            </dict>
            <key>underFrameX.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1049},{197,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,85}}</string>
                <key>sourceSize</key>
                <string>{197,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>serverPK.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca410eb2781c198ff8d9da132568241b:1/1$</string>
            <key>textureFileName</key>
            <string>serverPK.pvr.ccz</string>
        </dict>
    </dict>
</plist>
