<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1802},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1577},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1352},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1352},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,624},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,624},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
            <key>stagebg_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,223}}</string>
                <key>sourceSize</key>
                <string>{620,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageBg.pvr.ccz</string>
            <key>size</key>
            <string>{1074,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a687b34a354092259e805c3f985ffddf:1/1$</string>
            <key>textureFileName</key>
            <string>stageBg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
