<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>questPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,181}}</string>
                <key>sourceSize</key>
                <string>{602,181}</string>
            </dict>
            <key>questTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{503,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,39}}</string>
                <key>sourceSize</key>
                <string>{503,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.pvr.ccz</string>
            <key>size</key>
            <string>{708,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47ae70f08d5bbea5657e479089efe619:1/1$</string>
            <key>textureFileName</key>
            <string>task.pvr.ccz</string>
        </dict>
    </dict>
</plist>
