<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{607,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,430}}</string>
                <key>sourceSize</key>
                <string>{607,430}</string>
            </dict>
            <key>titleDetail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,465}}</string>
                <key>sourceSize</key>
                <string>{342,465}</string>
            </dict>
            <key>unknown_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.pvr.ccz</string>
            <key>size</key>
            <string>{1059,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f972e4051f898a6ee64ceec226241016:1/1$</string>
            <key>textureFileName</key>
            <string>title.pvr.ccz</string>
        </dict>
    </dict>
</plist>
