<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{618,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,589}}</string>
                <key>sourceSize</key>
                <string>{618,589}</string>
            </dict>
            <key>battle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{136,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,131}}</string>
                <key>sourceSize</key>
                <string>{136,131}</string>
            </dict>
            <key>cursor_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>union_candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,622},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>union_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,171}}</string>
                <key>sourceSize</key>
                <string>{620,171}</string>
            </dict>
            <key>union_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,872},{571,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,26}}</string>
                <key>sourceSize</key>
                <string>{571,26}</string>
            </dict>
            <key>union_topBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{618,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,94}}</string>
                <key>sourceSize</key>
                <string>{618,94}</string>
            </dict>
            <key>union_topBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{618,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,104}}</string>
                <key>sourceSize</key>
                <string>{618,104}</string>
            </dict>
            <key>union_topChain.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,622},{12,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,160}}</string>
                <key>sourceSize</key>
                <string>{12,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>union_2.pvr.ccz</string>
            <key>size</key>
            <string>{720,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffdccac77da5d5210471b5454da5a2fc:1/1$</string>
            <key>textureFileName</key>
            <string>union_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
