<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,435},{26,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>escort_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{238,216}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{238,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>escort_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,679},{234,214}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{234,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>escort_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{254,214}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{254,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>escort_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,463},{248,214}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{248,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>trade_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,895},{190,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{190,107}}</string>
                <key>sourceSize</key>
                <string>{190,109}</string>
            </dict>
            <key>trade_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,759},{186,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,109}}</string>
                <key>sourceSize</key>
                <string>{190,109}</string>
            </dict>
            <key>trade_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,947},{184,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{184,107}}</string>
                <key>sourceSize</key>
                <string>{190,109}</string>
            </dict>
            <key>trade_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,895},{228,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,123}}</string>
                <key>sourceSize</key>
                <string>{228,123}</string>
            </dict>
            <key>trade_btn_1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{228,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,123}}</string>
                <key>sourceSize</key>
                <string>{228,123}</string>
            </dict>
            <key>trade_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>trade_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,321}}</string>
                <key>sourceSize</key>
                <string>{412,321}</string>
            </dict>
            <key>trade_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,325},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>trade_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,111},{350,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,80}}</string>
                <key>sourceSize</key>
                <string>{350,80}</string>
            </dict>
            <key>ww_reward_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldwar4.pvr.ccz</string>
            <key>size</key>
            <string>{509,1133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eea3021530b5004928e0133b4650f85:1/1$</string>
            <key>textureFileName</key>
            <string>worldwar4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
