<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{269,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,311}}</string>
                <key>sourceSize</key>
                <string>{269,311}</string>
            </dict>
            <key>badge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,772},{262,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,277}}</string>
                <key>sourceSize</key>
                <string>{262,277}</string>
            </dict>
            <key>badge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,315},{262,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,284}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>brave_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1481},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn_add_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1843},{31,29}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{31,29}}</string>
                <key>sourceSize</key>
                <string>{67,41}</string>
            </dict>
            <key>btn_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1812},{31,29}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{31,29}}</string>
                <key>sourceSize</key>
                <string>{67,41}</string>
            </dict>
            <key>btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,928},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1804},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>btn_tab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1215},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
            <key>btn_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1220},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
            <key>d_probg.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,767},{176,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,7}}</string>
                <key>sourceSize</key>
                <string>{176,7}</string>
            </dict>
            <key>dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1051},{178,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,167}}</string>
                <key>sourceSize</key>
                <string>{178,167}</string>
            </dict>
            <key>durability_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>equipshop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1037},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>equipshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1666},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>general.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1833},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>group_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,956},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>group_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1804},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>group_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>heroshop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1520},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>heroshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1374},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1051},{162,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>island_info_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1577},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>island_info_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>island_info_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,767},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>island_info_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,699},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>island_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,601},{206,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,96}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>island_title_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,772},{572,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,28}}</string>
                <key>sourceSize</key>
                <string>{572,28}</string>
            </dict>
            <key>itemshop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1687},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>itemshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1541},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>job1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1346},{61,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,133}}</string>
                <key>sourceSize</key>
                <string>{61,133}</string>
            </dict>
            <key>job2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1283},{61,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,133}}</string>
                <key>sourceSize</key>
                <string>{61,133}</string>
            </dict>
            <key>job3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,601},{61,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,133}}</string>
                <key>sourceSize</key>
                <string>{61,133}</string>
            </dict>
            <key>l_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,896},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>l_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,864},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,832},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,800},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>line_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1346},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1346},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>premier.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1346},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>r_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,768},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>r_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,736},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>rank_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1812},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>recmd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1379},{160,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,78}}</string>
                <key>sourceSize</key>
                <string>{160,78}</string>
            </dict>
            <key>right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1833},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1183},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>shadowshop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1658},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>shadowshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1512},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>ship_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1183},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>skillshop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1366},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>skillshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1220},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>ui_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{614,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,46}}</string>
                <key>sourceSize</key>
                <string>{614,46}</string>
            </dict>
            <key>ww_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,236}}</string>
                <key>sourceSize</key>
                <string>{768,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldwar1.pvr.ccz</string>
            <key>size</key>
            <string>{511,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1ef1de4ceee3838942e397b65d9079e:1/1$</string>
            <key>textureFileName</key>
            <string>worldwar1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
