<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youWinText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>youWinText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>youWinText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>youWinText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>youWinText_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>youWinText_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>youWinText_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youWinTextRes.pvr.ccz</string>
            <key>size</key>
            <string>{84,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a7528b638a190641f9c1d3315139ee0:1/1$</string>
            <key>textureFileName</key>
            <string>youWinTextRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
